@{
ViewBag.Title = "Our Doctors Us Sri Sai Hospitals";
}
<!-- Breadcrumb Area -->
<!--
        <section class="breadcrumb-area text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Doctors</h2>
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item"><a href="#">Home</a></li>
                            <li class="list-inline-item"><i class="fa fa-long-arrow-right"></i>Doctors</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    -->
<!-- End Breadcrumb Area -->
<!-- Doctor List -->
<section class="specialist doctor-list">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="specialist-top d-list-top text-center">
          <h4>Meet Our Specialists</h4>
          <img src="~/images/heartbeat.png" alt="">
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card doc-card" data-toggle="modal" data-target="#doctordananjaya">
          <img class="card-img-top" src="~/images/our-doctors/danajaya-reddy.jpg" alt="Dr Dhananjay Reddy">
          <div class="card-body">
            <h5 class="card-title">Dr Dhananjay Reddy</h5>
            <p class="card-text">Gastro Surgeon</p>
            <p class="card-text">MBBS.,MS.,MRCS.,AFRCS.,(General & LAP surgeon)</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-link view-details-btn">View Details</button>
          </div>
        </div>
      </div>

      <div class="modal fade" id="doctordananjaya" tabindex="-1" role="dialog" aria-labelledby="doctorModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Doctor Details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <div class="doctor-profile">
                      <img src="~/images/our-doctors/danajaya-reddy.jpg" alt="Doctor's Photo"
                        class="img-fluid mx-auto d-block" id="modalDoctorImage">
                      <div class="card-body text-center">
                        <h2 class="card-title" id="modalDoctorName">DR . DHANANJAYA REDDY</h2>
                        <h4 class="card-subtitle mb-2 text-muted" id="modalSpecialty">GASTRO</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Brief Profile:</h3>
                        <p class="card-text">Dr. Dhananjay Reddy is highly experienced general and laparoscopic surgeon
                          with over two decades of expertise in this field. As the managing director and chief
                          gastroenterologist at SRI SAI HOSPITALS, He is commited to providing exceptional surgical care
                          and leading innovative medical pratices.</p>
                        <p class="card-text">with more than 20 years of experience, he has performed numerous complex
                          surgical procedures and has a proven track record of excellence in general and laparoscopic
                          surgery. His leadership at sri sia hospitals underscored his dedication to advancing
                          healthcare standards and ensuring patient- centric care.</p>
                        <p class="card-text">Dr. Dhananjay Reddy adopts a patient- first philosophy emphasizing
                          minimally invasive techniques to enhance recovery and outcomes. His commitment to continous
                          learning and innovation ensures that patients receive the most up to date and effective
                          treatments available.</p>
                        <p class="card-text">As the managing director of sri sai hospitals, Dr. Dhananjay reddy is
                          instrumental in shaping the hospital's vision and strategies, fostering a culture of
                          excellence and compassionate care.</p>
                        <p class="card-text">His expertise and commitment to patient care make him a leading figure in
                          his field.
                        </p>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Educational Qualifications:</h3>
                        <ul class="card-text">
                          <li>MBBS-KIMS,bangalore</li>
                          <li>MS</li>
                          <li>AFRCS-IRELAND</li>
                          <li>MRCS-EDINBURGH</li>
                        </ul>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Experience:</h3>
                        <p class="card-text">Consultant-BGS GLOBAL HOSPITALS</p>
                        <p class="card-text">Consultant general and GI surgeon-NARAYANA HRUDAYALAYA HOSPITALSM</p>
                        <p class="card-text">Managing director and chief GI & general surgeon-SRI SAI HOSPITALS</p>
                        </p>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Expertise:</h3>
                        <ul class="card-text">
                          <li>General surgery</li>
                          <li>laparoscopic surgery</li>
                          <li>gastroenterology</li>
                          <li>Minimally invasive surgery</li>
                          <li>Hepatobiliary surgery</li>
                        </ul>
                        <p class="card-text">Services:</p>
                        <ul class="card-text">
                          <li>advanced laparoscopic procedures</li>
                          <li>gastrointestinal surgeries</li>
                          <li>Hepatobiliary surgery</li>
                          <li>comprehensive surgical consultations</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card doc-card" data-toggle="modal" data-target="#doctorviraj" data-doctor-name="Dr Viraj Shetty"
          data-doctor-image="/images/Dr Viraj.jpg"
          data-doctor-designation="Medical Superintendent, Consultant Anaesthesiologist and Intensivist"
          data-doctor-specialty="MBBS, MD (Anaesthesiologist and Intensivist)">
          <img class="card-img-top" src="~/images/Dr Viraj.jpg" alt="Doctor's Photo">
          <div class="card-body">
            <h5 class="card-title">Dr Viraj Shetty</h5>
            <p class="card-text">Medical Superintendent, Consultant Anaesthesiologist and Intensivist</p>
            <p class="card-text">MBBS, MD (Anaesthesiologist and Intensivist)</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-link view-details-btn">View Details</button>
          </div>
        </div>
      </div>

      <div class="modal fade" id="doctorviraj" tabindex="-1" role="dialog" aria-labelledby="doctorModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="doctorModalLabel">Doctor Details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <div class="doctor-profile">
                      <img src="~/images/dr-danajaya-reddy.jpg" alt="Doctor's Photo" class="img-fluid mx-auto d-block"
                        id="modalDoctorImage">
                      <div class="card-body text-center">
                        <h2 class="card-title" id="modalDoctorName"></h2>
                        <h4 class="card-subtitle mb-2 text-muted" id="modalSpecialty"></h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Brief Profile:</h3>
                        <p class="card-text">
                          Dr. Viraj shetty is Consultant Anaesthesiologist and Intensivist in our hospital with over 8
                          years experience. He has been associated with various prestigious Hospitals and clinics.
                          Specializes in Pediatric, Adult and Geriatric Anaesthesia and Critical care medicine
                        </p>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Educational Qualifications:</h3>
                        <ul class="card-text">
                          <li>MBBS – KMC Manipal</li>
                          <li>MD ( Anaesthesiology) KSHEMA Mangalore </li>
                        </ul>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Experience:</h3>
                        <ul class="card-text">
                          <li>Anaesthesiologist : Sakra World Hospital Bangalore </li>
                          <li>Anaesthesiologist: Cloudnine Hospital Electronic City </li>
                          <li>Anaesthesiologist & Intensivist : KRS Hospital Chikkamagaluru</li>
                        </ul>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Expertise:</h3>
                        <ul class="card-text">
                          <li></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card doc-card" data-toggle="modal" data-target="#doctorpaary">
          <img class="card-img-top" src="~/images/our-doctors.parry.jpg" alt="Doctor's Photo">
          <div class="card-body">
            <h5 class="card-title">Dr Paary</h5>
            <p class="card-text">Lead Intensivist</p>
            <p class="card-text">MBBS  MD DM ( Critical Care )</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-link view-details-btn">View Details</button>
          </div>
        </div>
      </div>

      <div class="modal fade" id="doctorpaary" tabindex="-1" role="dialog" aria-labelledby="doctorModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="doctorModalLabel">Doctor Details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <div class="doctor-profile">
                      <img src="~/images/our-doctors/parry.jpg" alt="Doctor's Photo" class="img-fluid mx-auto d-block"
                        id="modalDoctorImage">
                      <div class="card-body text-center">
                        <h2 class="card-title" id="modalDoctorName">Dr Paary </h2>
                        <h4 class="card-subtitle mb-2 text-muted" id="modalSpecialty">Lead Intensivist</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Brief Profile:</h3>
                        <p class="card-text">Dr. Paary is  Lead  Intensivist in our hospital with over 12 years experience. </p>
                        <p class="card-text">He has been associated with various prestigious Hospitals and clinics.</p>
                        <p class="card-text">Specializes in adult critical care medicine </p>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Educational Qualifications:</h3>
                        <ul class="card-text">
                          <li>MBBS  MD DM ( Critical Care )</li>
                        </ul>
                      </div>
                    </div>
                    <!-- <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Experience:</h3>
                        <ul class="card-text">

                        </ul>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Expertise:</h3>
                        <ul class="card-text">
                          <li></li>
                        </ul>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card doc-card" data-toggle="modal" data-target="#doctorarpita">
          <img class="card-img-top" src="~/images/our-doctors/arpita.jpg" alt="Doctor's Photo">
          <div class="card-body">
            <h5 class="card-title">Dr Arpitha</h5>
            <p class="card-text">Consultant Anaesthesiogist and Intensivist</p>
            <p class="card-text">MBBS, MD</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-link view-details-btn">View Details</button>
          </div>
        </div>
      </div>

      <div class="modal fade" id="doctorarpita" tabindex="-1" role="dialog" aria-labelledby="doctorModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="doctorModalLabel">Doctor Details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <div class="doctor-profile">
                      <img src="~/images/our-doctors/arpita.jpg" alt="Doctor's Photo" class="img-fluid mx-auto d-block"
                        id="modalDoctorImage">
                      <div class="card-body text-center">
                        <h2 class="card-title" id="modalDoctorName">Dr Arpitha </h2>
                        <h4 class="card-subtitle mb-2 text-muted" id="modalSpecialty">Consultant Anaesthesiogist and Intensivist</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Brief Profile:</h3>
                        <p class="card-text">Dr. Arpita Das is consultant Anaesthesiologist in our hospital with over 7 years experience. </p>
                          <p class="card-text">She Specializes in Anaesthesia of Pediatric, Adult and Geriatric age group involving multi-speciality surgeries. </p>
                          <p class="card-text">She is a part of our ICU team and Emergency services, managing both medical and surgical patients. 
                          </p>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Educational Qualifications:</h3>
                        <ul class="card-text">
                          <li>MBBS - Gandhi Medical College, Bhopal</li>
                          <li>M.D ANAESTHESIA - Govt. Medical College, Haldwani.</li>
                        </ul>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Experience:</h3>
                        <ul class="card-text">
                          <li>Junior consultant in Anaesthesia and Intensive care specialist- Best Hospital, Bangalore
                          </li>
                          <li>Consultant Anaesthesiologist and intensive care specialist, Sri Sai Hosptals, Attibele,
                            Bangalore</li>
                          <li>Consultant Anaesthesiologist, Cloudnine Hospital, Bangalore</li>
                        </ul>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Expertise:</h3>
                        <ul class="card-text">
                          <li>Managing Difficult Airway</li>
                          <li>Upper Limb and Lower Limb Nerve Blocks</li>
                          <li>Managing Cardiac patients for non-cardiac surgeries</li>
                          <li>Labor Analgesia</li>
                          <li>Point of Care Ultrasound in ICU bedside</li>
                          <li>Trauma surgeries </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card doc-card" data-toggle="modal" data-target="#doctorsarika">
          <img class="card-img-top" src="~/images/our-doctors/sarika.jpg" alt="Doctor's Photo">
          <div class="card-body">
            <h5 class="card-title">Prof Dr Sarika Patel </h5>
            <p class="card-text">Consultant Anaesthesiologist & intensivist</p>
            <p class="card-text">MBBS DA DNB</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-link view-details-btn">View Details</button>
          </div>
        </div>
      </div>

      <div class="modal fade" id="doctorsarika" tabindex="-1" role="dialog" aria-labelledby="doctorModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="doctorModalLabel">Doctor Details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <div class="doctor-profile">
                      <img src="~/images/our-doctors/sarika.jpg" alt="Doctor's Photo" class="img-fluid mx-auto d-block"
                        id="modalDoctorImage">
                      <div class="card-body text-center">
                        <h2 class="card-title" id="modalDoctorName">Prof Dr Sarika Patel </h2>
                        <h4 class="card-subtitle mb-2 text-muted" id="modalSpecialty">Consultant Anaesthesiologist & intensivist</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Brief Profile:</h3>
                        <p class="card-text">

                        </p>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Educational Qualifications:</h3>
                        <ul class="card-text">

                        </ul>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Experience:</h3>
                        <ul class="card-text">

                        </ul>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Expertise:</h3>
                        <ul class="card-text">

                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card doc-card" data-toggle="modal" data-target="#doctorsulochana">
          <img class="card-img-top" src="~/images/our-doctors/sulochana.jpg" alt="Doctor's Photo">
          <div class="card-body">
            <h5 class="card-title">DR. SULOCHANA</h5>
            <p class="card-text">Consultant- Internal Medicne</p>
            <p class="card-text">MBBS DNB</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-link view-details-btn">View Details</button>
          </div>
        </div>
      </div>

      <div class="modal fade" id="doctorsulochana" tabindex="-1" role="dialog" aria-labelledby="doctorModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="doctorModalLabel">Doctor Details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <div class="doctor-profile">
                      <img src="~/images/our-doctors/sulochana.jpg" alt="Doctor's Photo" class="img-fluid mx-auto d-block"
                        id="modalDoctorImage">
                      <div class="card-body text-center">
                        <h2 class="card-title" id="modalDoctorName">DR. SULOCHANA</h2>
                        <h4 class="card-subtitle mb-2 text-muted" id="modalSpecialty">Consultant- Internal Medicne</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Brief Profile:</h3>
                        <p class="card-text">
                          Dr.Sulochana, M.B,B.S, DNB General Medicine, has 3 years of experience in managing
                          out-patients and in-patients in medical field. She handles common ailments like diabetes
                          mellitees, hypertension, thyroid disorders and febride illnesses with expertise. Her areas of
                          interests are endocrinology, nephrology and hematology.
                        </p>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Educational Qualifications:</h3>
                        <ul class="card-text">
                          <li>MBBS – Sri Devaraj Urs medical college, Kolar, Karnataka </li>
                          <li>MD ( Anaesthesiology) Sri Devaraj Urs medical college, Kolar, Karnataka </li>
                        </ul>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Experience:</h3>
                        <ul class="card-text">
                          <li>DM Critical Care Medicine Sri Ramachandra Medical College and Research Institute, Chennai
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <!-- <h3 class="section-title">Expertise:</h3>
                        <ul class="card-text">

                        </ul> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card doc-card" data-toggle="modal" data-target="#doctorlohit" >
          <img class="card-img-top" src="~/images/our-doctors/lohit.jpg" alt="Doctor's Photo">
          <div class="card-body">
            <h5 class="card-title">DR. LOHITH</h5>
            <p class="card-text">Consultant Orthopaedician</p>
            <p class="card-text">MBBS Dortho DNB</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-link view-details-btn">View Details</button>
          </div>
        </div>
      </div>

      <div class="modal fade" id="doctorlohit" tabindex="-1" role="dialog" aria-labelledby="doctorModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="doctorModalLabel">Doctor Details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <div class="doctor-profile">
                      <img src="~/images/our-doctors" alt="Doctor's Photo" class="img-fluid mx-auto d-block"
                        id="modalDoctorImage">
                      <div class="card-body text-center">
                        <h2 class="card-title" id="modalDoctorName">DR. LOHITH </h2>
                        <h4 class="card-subtitle mb-2 text-muted" id="modalSpecialty">Consultant Orthopaedician</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Brief Profile:</h3>
                        <p class="card-text">
                          Dr. Lohith H is consultant Orthopaedic surgeon in our hospital with over 9years experience.
                          He has been associated with various prestigious Hospitals and clinics.
                          Specializes in Pediatric, Adult and Geriatric trauma, Joint replacement and sports Injuries.
                          Practices Evidence based management of various Orthopaedic conditions such as Osteoarthritis,
                          Rheumatoid arthritis,Gout, Orthopaedic Infections(osteomyelitls and septic arthritis) and
                          Musculoskeletal pains.
                          Prefers Minimally Invasive surgeries whereever applicable.
                        </p>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Educational Qualifications:</h3>
                        <ul class="card-text">
                          <li>MBBS - Bangalore medical college, Bangalore</li>
                          <li>D.ORTHO - KIMS, Bangalore</li>
                          <li>DNB.ORTHOPAEDICS - Sparsh Hospital, Bangalore</li>
                        </ul>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Experience:</h3>
                        <ul class="card-text">
                          <li>Junior consultant Orthopaedic surgeon, Annai Arul Hospital, Chennai</li>
                          <li>Junior consultant Orthopaedic surgeon, Sparsh Hospital Bangalore</li>
                          <li>Consultant Orthopaedic surgeon, Sparsh Hospital Hassan</li>
                          <li>Consultant Orthopaedic surgeon, Sri Sai Hosptals, Attibele, Bangalore</li>
                        </ul>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Expertise:</h3>
                        <ul class="card-text">
                          <li><b>Pediatric fracture fixation</b></li>
                          <li>Adult fracture fixation</li>
                          <li>Geriatric(Elderly) fracture fixation</li>
                          <li>Management of Crush injuries of limbs</li>
                          <li>Joint replacement surgeries</li>
                          <li>Knee replacement surgery</li>
                          <li>Hip replacement surgery</li>
                          <br />
                          <li><b>Arthroscopic surgeries for sports injuries</b></li>
                          <li>ACL reconstruction</li>
                          <li>PCL reconstructios</li>
                          <li>Rotator Cuff injuries</li>
                          <br />
                          <li><b>Management of Orthopaedic infections such as osteomyelitis and septic arthritis </b>
                          </li>
                          <li>Hand injuries and Tendon repairs</li>
                          <li>Decompression procedures such as Carpal tunnel release and Dequervain’s release</li>
                          <li>Management of chronic pain conditions such as Osteoarthritis, Rheumatoid arthritis, Gout,
                            Low back ache, Frozen shoulder,Tennis elbow Golfer’s elbow,Plantar fasciitis etc.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card doc-card" data-toggle="modal" data-target="#doctornetra">
          <img class="card-img-top" src="~/images/our-doctors/netra.jpg" alt="Doctor's Photo">
          <div class="card-body">
            <h5 class="card-title">Dr. Nethra H R</h5>
            <p class="card-text">Obstetrics and Gynaecology</p>
            <p class="card-text">MBBS, MD (OBG)</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-link view-details-btn">View Details</button>
          </div>
        </div>
      </div>

      <div class="modal fade" id="doctornetra" tabindex="-1" role="dialog" aria-labelledby="doctorModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="doctorModalLabel">Doctor Details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <div class="doctor-profile">
                      <img src="~/images/our-doctors/netra.jpg" alt="Doctor's Photo" class="img-fluid mx-auto d-block"
                        id="modalDoctorImage">
                      <div class="card-body text-center">
                        <h2 class="card-title" id="modalDoctorName">DR. NETHRA. H S</h2>
                        <h4 class="card-subtitle mb-2 text-muted" id="modalSpecialty">Consultant OBG</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Brief Profile:</h3>
                        <p class="card-text">
                          Dr. Nethra H S is a Obstetrician,Gynecologist and Reproductive Medicine and Infertility in Attibele,
 Bangalore and has an experience of 9 years in these fields.
 Dr. Nethra H S practices at Sri Sai Hospital in Attibele, Bangalore. 
She completed MS - Obstetrics & Gynaecology from ESIC Medical College & PGIMSR in 2016 and MBBS from Rajiv Gandhi University of Health Sciences in 2011
                        </p>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Educational Qualifications:</h3>
                        <ul class="card-text">
                          <li>M.B.B.S</li>
                          <li>MS - Obstetrics & Gynaecology</li>
                        </ul>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Experience:</h3>
                        <ul class="card-text">
                          <li>Managed various obstetric and gynaecological emergencies like eclampsia, ruptured ectopic,
                            pregnancy, abruptio placenta, PPH, shock etc..</li>
                          <li>Caesarean delivery</li>
                          <li>Instrumental and vaginal delivery</li>
                          <li>Abdominal and Vaginal hysterectomy</li>
                          <li>Tubectomy</li>
                          <li>D &amp; C</li>
                        </ul>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Expertise:</h3>
                        <ul class="card-text">
                          <li>The Oxford Medical College &amp; RI, Attibele Assistant Professor</li>
                          <li>Swasthik Hospital, Dommasandra Consultant</li>
                          <li>Sri Sai Hospital, Attibele Consultant</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card doc-card" data-toggle="modal" data-target="#doctorsujaykumar">
          <img class="card-img-top" src="~/images/our-doctors/sujay.jpg" alt="Doctor's Photo">
          <div class="card-body">
            <h5 class="card-title">DR. SUJAY KUMAR</h5>
            <p class="card-text">Consultant Paediatrician</p>
            <p class="card-text">MBBS, MD</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-link view-details-btn">View Details</button>
          </div>
        </div>
      </div>

      <div class="modal fade" id="doctorsujaykumar" tabindex="-1" role="dialog" aria-labelledby="doctorModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="doctorModalLabel">Doctor Details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <div class="doctor-profile">
                      <img src="~/images/our-doctors/sujay.jpg" alt="Doctor's Photo" class="img-fluid mx-auto d-block"
                        id="modalDoctorImage">
                      <div class="card-body text-center">
                        <h2 class="card-title" id="modalDoctorName">DR. SUJAY KUMAR</h2>
                        <h4 class="card-subtitle mb-2 text-muted" id="modalSpecialty">Consultant Paediatrician</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="doctor-profile">
                      <div class="card-body">
                        <!-- <h3 class="section-title">Brief Profile:</h3>
                        <p class="card-text">

                        </p> -->
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Educational Qualifications:</h3>
                        <ul class="card-text">
                          <li>MBBS</li>
                          <li>MD Pediatrics., DNB Pediatrics </li>
                          <li>Consultant pediatrician and neonatologist.</li>
                        </ul>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <!-- <h3 class="section-title">Experience:</h3>
                        <ul class="card-text">

                        </ul> -->
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <!-- <h3 class="section-title">Expertise:</h3>
                        <ul class="card-text">

                        </ul> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card doc-card" data-toggle="modal" data-target="#doctormuthurajan">
          <img class="card-img-top" src="~/images/our-doctors/muthurajan.jpg" alt="Doctor's Photo">
          <div class="card-body">
            <h5 class="card-title">DR . MUTHURAJAN</h5>
            <p class="card-text">PAEDIATRIC SURGEON</p>
            <p class="card-text">MBBS, MS. FRCS, Dip MIS, FIAPS, MBA</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-link view-details-btn">View Details</button>
          </div>
        </div>
      </div>

      <div class="modal fade" id="doctormuthurajan" tabindex="-1" role="dialog" aria-labelledby="doctorModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="doctorModalLabel">Doctor Details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <div class="doctor-profile">
                      <img src="~/images/our-doctors/muthurajan.jpg" alt="Doctor's Photo" class="img-fluid mx-auto d-block"
                        id="modalDoctorImage">
                      <div class="card-body text-center">
                        <h2 class="card-title" id="modalDoctorName">DR . MUTHURAJAN</h2>
                        <h4 class="card-subtitle mb-2 text-muted" id="modalSpecialty">PAEDIATRIC SURGEON</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Brief Profile:</h3>
                        <p class="card-text">
                          Dr. Muthurajan is a highly experienced paediatric surgeon with 29 years of expertise in this field. He holds multiple qualifications, including MBBS., MS., FRCS, a diploma in minimally invasive surgery (Dip. MIS), and a fellowship in laproscopic and paediatric surgery (FLAPS). Additionally, he has a an MBA, enhancing his skills in healthcare management. Dr. muthurajan is registered with the medical council and is dedicated to providing exceptional care to his young patients.
                        </p>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Educational Qualifications:</h3>
                        <ul class="card-text">
                          <li>MBBS</li>
                          <li> MS(PAEDIATRIC).</li>
                          <li>FRCS.</li>
                          <li>Dip MIS.</li>
                          <li>FLAPS- fellowship in laproscopic and paediatric surgery</li>
                          <li>MBA-hospital administration</li>
                        </ul>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <!-- <h3 class="section-title">Experience:</h3>
                        <ul class="card-text">

                        </ul> -->
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <!-- <h3 class="section-title">Expertise:</h3>
                        <ul class="card-text">

                        </ul> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>




      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card doc-card" data-toggle="modal" data-target="#doctorgiriprabhu">
          <img class="card-img-top" src="~/images/our-doctors/giribabu.jpg" alt="Doctor's Photo">
          <div class="card-body">
            <h5 class="card-title">DR.GIRIPRABHU</h5>
            <p class="card-text">Consultant Radiologist</p>
            <p class="card-text">MBBS, MD</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-link view-details-btn">View Details</button>
          </div>
        </div>
      </div>

      <div class="modal fade" id="doctorgiriprabhu" tabindex="-1" role="dialog" aria-labelledby="doctorModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="doctorModalLabel">Doctor Details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <div class="doctor-profile">
                      <img src="~/images/our-doctors/giribabu.jpg" alt="Doctor's Photo" class="img-fluid mx-auto d-block"
                        id="modalDoctorImage">
                      <div class="card-body text-center">
                        <h2 class="card-title" id="modalDoctorName">DR.GIRIPRABHU</h2>
                        <h4 class="card-subtitle mb-2 text-muted" id="modalSpecialty">Consultant Radiologist</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="doctor-profile">
                      <div class="card-body">
                        <!-- <h3 class="section-title">Brief Profile:</h3>
                        <p class="card-text">

                        </p> -->
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <!-- <h3 class="section-title">Educational Qualifications:</h3>
                        <ul class="card-text">
                        </ul> -->
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <!-- <h3 class="section-title">Experience:</h3>
                        <ul class="card-text">

                        </ul> -->
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <!-- <h3 class="section-title">Expertise:</h3>
                        <ul class="card-text">

                        </ul> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card doc-card" data-toggle="modal" data-target="#doctorbhanuchandra">
          <img class="card-img-top" src="~/images/our-doctors/bhanuchandra.jpg" alt="Doctor's Photo">
          <div class="card-body">
            <h5 class="card-title">Dr Bhanu Chandra</h5>
            <p class="card-text">Consultant Neurosurgeon</p>
            <p class="card-text">MBBS, DNB Neurosurgery</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-link view-details-btn">View Details</button>
          </div>
        </div>
      </div>

      <div class="modal fade" id="doctorbhanuchandra" tabindex="-1" role="dialog" aria-labelledby="doctorModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="doctorModalLabel">Doctor Details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <div class="doctor-profile">
                      <img src="~/images/our-doctors/bhanuchandra.jpg" alt="Doctor's Photo" class="img-fluid mx-auto d-block"
                        id="modalDoctorImage">
                      <div class="card-body text-center">
                        <h2 class="card-title" id="modalDoctorName">Dr Bhanu Chandra</h2>
                        <h4 class="card-subtitle mb-2 text-muted" id="modalSpecialty">Consultant Neurosurgeon</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Brief Profile:</h3>
                        <p class="card-text">
                          Dr. Bhanuchandra., MBBS., DNB (Neuro surgery) Neuro surgeon with a distinguished career spanning 12 years, Dr. Bhanuchandra is a highly respected neurosurgeon known for his exceptional surgical skills and compassionate patient care. He earned his MBBS degree from a prestigious medical college and subsequently completed his DNB in neurosurgery, demonstrating his dedication to advanced medical training and excellene in his field.
Dr. Bhanuchandra's areas of expertise include complex brain and spine surgeries, neuro oncology, and minimally invasive neurosurgical techniques. He is adept at treating a wide range of neurological conditions, from brain tumours and aneursms to spinal disorders and traumatic brain injuries. His commitment to staying at the forefront of medical advancements ensures that his patients receive the latest and most effective treatments available.His passion for teaching and mentoring the next generation of neurosurgeons reflects his commitment to the future of the field.
                        </p>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Educational Qualifications:</h3>
                        <ul class="card-text">
                          <li>MBBS.</li>
                            <li>DNB (Neurosurgery)</li>
                        </ul>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Experience:</h3>
                        <ul class="card-text">
                          <li>Basic trauma care to major surgery. </li>
                          <li>Brain and skull base tumor surgery. </li>
                          <li>Awake craniotomy with neurophysiological monitoring. pituitary tumors. </li>
                          <li>hydrocephalus.</li>
                          <li>spine and brain vascular anomaly like aneurysm, avm, cavernoma. spine microdiscectomy, fixation and stabilization, scoliosis surgery. congenital spinal cord anomalies split cord malformation, tethering of cord. </li>
                          <li>craniovertebral junction anomalies. </li>
                          <li>occipito c1c2 fixation.</li>
                        </ul>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <!-- <h3 class="section-title">Expertise:</h3>
                        <ul class="card-text">

                        </ul> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card doc-card" data-toggle="modal" data-target="#doctorramkumar">
          <img class="card-img-top" src="~/images/our-doctors/ramkumar.jpg" alt="Doctor's Photo">
          <div class="card-body">
            <h5 class="card-title">DR. RAM KUMAR</h5>
            <p class="card-text">Consultant Urologist</p>
            <p class="card-text">MBBS.,MS (JIPMER)., Mch(urology)</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-link view-details-btn">View Details</button>
          </div>
        </div>
      </div>

      <div class="modal fade" id="doctorramkumar" tabindex="-1" role="dialog" aria-labelledby="doctorModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="doctorModalLabel">Doctor Details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <div class="doctor-profile">
                      <img src="~/images/our-doctors/ramkumar.jpg" alt="Doctor's Photo" class="img-fluid mx-auto d-block"
                        id="modalDoctorImage">
                      <div class="card-body text-center">
                        <h2 class="card-title" id="modalDoctorName">DR. RAM KUMAR</h2>
                        <h4 class="card-subtitle mb-2 text-muted" id="modalSpecialty">Consultant Urologist</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Brief Profile:</h3>
                        <p class="card-text">
                          Dr.Ramkumar is a renowned urologist with 15 years of experience. He completed his MBBS and MS in general surgery from JIPMER, followed by AND Mch in Urology.He specializes in treating kidney stones, urinary tract infections, bladder disorders, prostate disease, and male infertility. He is proficient in minimally invasive surgeries. with a blend of surgical expertise, comprehensive medical knowledge, and compassionate care, Dr. Ramkumar is a respected and sought after urologist.
                        </p>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Educational Qualifications:</h3>
                        <ul class="card-text">
                          <li>MBBS</li>
                          <li>MS(JIPMER)</li>
                          <li>Mch (urology)</li>
                        </ul>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <!-- <h3 class="section-title">Experience:</h3>
                        <ul class="card-text">

                        </ul> -->
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <!-- <h3 class="section-title">Expertise:</h3>
                        <ul class="card-text">

                        </ul> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card doc-card" data-toggle="modal" data-target="#doctorkaushik">
          <img class="card-img-top" src="~/images/our-doctors/kaushik.jpg" alt="Doctor's Photo">
          <div class="card-body">
            <h5 class="card-title">DR . KAUSHIK PAI</h5>
            <p class="card-text">Consultant Maxillo-Facial Surgeon</p>
            <p class="card-text">MBBS, DNB</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-link view-details-btn">View Details</button>
          </div>
        </div>
      </div>

      <div class="modal fade" id="doctorkaushik" tabindex="-1" role="dialog" aria-labelledby="doctorModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="doctorModalLabel">Doctor Details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <div class="doctor-profile">
                      <img src="~/images/our-doctors/kaushik.jpg" alt="Doctor's Photo" class="img-fluid mx-auto d-block"
                        id="modalDoctorImage">
                      <div class="card-body text-center">
                        <h2 class="card-title" id="modalDoctorName">DR . KAUSHIK PAI</h2>
                        <h4 class="card-subtitle mb-2 text-muted" id="modalSpecialty">Consultant Maxillo-Facial Surgeon</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Brief Profile:</h3>
                        <p class="card-text">
                          Dr. Kaushik Pai S H is a Consultant Craniofacial & Maxillofacial Surgeon, and Implantologist. Graduated from J.S.S.Dental college in 2012 and pursued Masters in Oral & Maxillofacial Surgery from the Prestigious Government Dental College, Chennai (through AIPG/NEET). Performed over 3000 Minor oral Surgery and over 600 Major Maxillofacial Surgical procedures during Residency. Graduated with second highest aggregate for the whole Tamil Nadu MGR Medical University. Currently doing Post Doctoral Fellowship in Craniofacial & Facial Cosmetic Surgery In Mazumdar Shaw Medical Centre, Narayana Hrudayalaya, Bangalore. Specializes In Minor Oral Surgeries, Implantology including conventional and immediate loading cortico Basal Implants, Maxillofacial Trauma, Temporomandibular Joint Conditions and Surgeries, Minimally Invasive & Endoscopic Maxillofacial procedures such as Arthrocentesis & Arthroscopy, Aesthetic Jaw Surgeries (orthognathic surgery), Cosmetic facial procedures, Maxillofacial Pathology Resection & Reconstruction. Correction of clefts and craniofacial anomalies.
                        </p>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Educational Qualifications:</h3>
                        <ul class="card-text">
                          <li>BDS </li>
                          <li>MDS</li>
                        </ul>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Experience:</h3>
                        <ul class="card-text">
                          <li>facial fracture treatment</li>
                          <li>Mandibular fracture treament</li>
                          <li>TMJ therapy</li>
                          <li>wisdom tooth extraction</li>
                          <li>dental implant fixing</li>
                          <li>Jaw reshaping</li>
                          <li>botox</li>
                          <li>Maxilla fracture treatment</li>
                          <li>Maxillo facials</li>
                        </ul>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Expertise:</h3>
                        <ul class="card-text">

                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card doc-card" data-toggle="modal" data-target="#doctormanjunath">
          <img class="card-img-top" src="~/images/dr-bhanuchandra.jpgg" alt="Doctor's Photo">
          <div class="card-body">
            <h5 class="card-title">DR . MANJUNATH</h5>
            <p class="card-text">Consultant Intervention Radiologist</p>
            <p class="card-text">MBBS, DNB</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-link view-details-btn">View Details</button>
          </div>
        </div>
      </div>

      <div class="modal fade" id="doctormanjunath" tabindex="-1" role="dialog" aria-labelledby="doctorModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="doctorModalLabel">Doctor Details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <div class="doctor-profile">
                      <img src="~/images/dr-danajaya-reddy.jpg" alt="Doctor's Photo" class="img-fluid mx-auto d-block"
                        id="modalDoctorImage">
                      <div class="card-body text-center">
                        <h2 class="card-title" id="modalDoctorName">DR . MANJUNATH</h2>
                        <h4 class="card-subtitle mb-2 text-muted" id="modalSpecialty">Consultant Intervention Radiologist</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <!-- <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Brief Profile:</h3>
                        <p class="card-text">

                        </p>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Educational Qualifications:</h3>
                        <ul class="card-text">
                        </ul>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Experience:</h3>
                        <ul class="card-text">

                        </ul>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Expertise:</h3>
                        <ul class="card-text">

                        </ul>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card doc-card" data-toggle="modal" data-target="#doctorsudhirnaik">
          <img class="card-img-top" src="~/images/our-doctors/sudhir.jpg" alt="Doctor's Photo">
          <div class="card-body">
            <h5 class="card-title">DR. SUDHIR NAIK</h5>
            <p class="card-text">Consultant ENT surgeon</p>
            <p class="card-text">MBBS, DNB</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-link view-details-btn">View Details</button>
          </div>
        </div>
      </div>

      <div class="modal fade" id="doctorsudhirnaik" tabindex="-1" role="dialog" aria-labelledby="doctorModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="doctorModalLabel">Doctor Details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <div class="doctor-profile">
                      <img src="~/images/our-doctors/sudhir.jpg" alt="Doctor's Photo" class="img-fluid mx-auto d-block"
                        id="modalDoctorImage">
                      <div class="card-body text-center">
                        <h2 class="card-title" id="modalDoctorName">DR. SUDHIR NAIK</h2>
                        <h4 class="card-subtitle mb-2 text-muted" id="modalSpecialty">Consultant ENT surgeon</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Brief Profile:</h3>
                        <p class="card-text">
                          Dr. Sudhir Naik is a highly experienced ENT specialist and otohinolaryngologist with 23 years of expertise in the field. He providing comprehensive care for a wide range of ear, nose, and throat conditions.
Dr. Sudhir naik's areas of specialization include sinusitis, hearing loss, balance disorders, voice disorders, and head and neck surgeries. He is proficient in advanced diagnostic and surgical techniques, ensuring precise and effective treatments. Dr. Sudhir Naik's extensive experience, skillful practice, and dedication to patient well-being make him a trusted and respectful figure in the medical community.
                        </p>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Educational Qualifications:</h3>
                        <ul class="card-text">
                          <li>MBBS.</li>
                        <li>MS(ENT)</li>
                        </ul>
                      </div>
                    </div>
                    <!-- <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Experience:</h3>
                        <ul class="card-text">

                        </ul>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Expertise:</h3>
                        <ul class="card-text">

                        </ul>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card doc-card" data-toggle="modal" data-target="#doctorsaishyam">
          <img class="card-img-top" src="~/images/our-doctors/saisatyam.jpg" alt="Doctor's Photo">
          <div class="card-body">
            <h5 class="card-title">DR. SAI SHYAM</h5>
            <p class="card-text">ENDOSCOPY/COLONOSCOPY</p>
            <p class="card-text">MBBS, MS</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-link view-details-btn">View Details</button>
          </div>
        </div>
      </div>

      <div class="modal fade" id="doctorsaishyam" tabindex="-1" role="dialog" aria-labelledby="doctorModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="doctorModalLabel">Doctor Details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <div class="doctor-profile">
                      <img src="~/images/our-doctors/saisatyam.jpg" alt="Doctor's Photo" class="img-fluid mx-auto d-block"
                        id="modalDoctorImage">
                      <div class="card-body text-center">
                        <h2 class="card-title" id="modalDoctorName">DR. SAI SHYAM</h2>
                        <h4 class="card-subtitle mb-2 text-muted" id="modalSpecialty">ENDOSCOPY/COLONOSCOPY</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Brief Profile:</h3>
                        <p class="card-text">
                          Dr. Saishyam M is consultant general and gastro intestinal surgeon in our hospital with over 6
                          years of experience.
                          Specializes in laparoscopic gastro intestinal and endoscopic procedures
                          Practices Evidence based management of various gastro intestinal conditions such as
                          cholelithiasis, hernia, gastric and colorectal malignancies with special interest in
                          colorectal malignancy.
                          Prefers Minimally Invasive surgeries where ever applicable.
                        </p>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Educational Qualifications:</h3>
                        <ul class="card-text">
                          <li>MBBS – JJMMC, Davangere, Rajiv Gandhi University of health Sciences</li>
                          <li>INTERSHIP – Christian Medical College, Vellore </li>
                          <li>MS General Surgery: Raja Rajeshwari Medical College, Bangalore </li>
                          <li>FRGUHS GIS: Bangalore Medical College, Bangalore</li>
                          <li>FMAS DMAS – World Laparoscopy Hospital, Gurgaon, New Delhi </li>
                          <li>MMAS – AMASI</li>
                          <li>FIAGES eFIAGES FAGIE FALS – IAGES</li>
                        </ul>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Experience:</h3>
                        <ul class="card-text">
                          <li>Consultant general and gastro intestinal surgeon - Sri Sai Hospital, Attibele, Bangalore
                          </li>
                          <li>Consultant general and gastro intestinal surgeon - Jana Raksha Hospital, Hosur </li>
                          <li>Consultant general and gastro intestinal surgeon - Athreya Hospital, Chandapura, Bangalore
                          </li>
                          <li>Consultant general and gastro intestinal surgeon - Sri Chandra Sekara Hospital, Hosur
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Expertise:</h3>
                        <ul class="card-text">
                          <li>Has performed over 1000 minimal access surgeries including various complex gastro
                            intestinal conditions such as colorectal malignancies.</li>
                          <li>Has experience of performing nearly 5000 diagnostics and therapeutic endoscopic
                            procedures.</li>
                          <li>Management of complex conditions such as acute and chronic pancreatitis with various
                            associated complications.</li>
                          <li>Has special interest in laparoscopic hernia surgeries. </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card doc-card" data-toggle="modal" data-target="#doctorsuganya">
          <img class="card-img-top" src="~/images/our-doctors/suganya.jpg" alt="Doctor's Photo">
          <div class="card-body">
            <h5 class="card-title">DR. SUGANYA</h5>
            <p class="card-text">Consultant Psychiatrist</p>
            <p class="card-text">MBBS, DNB</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-link view-details-btn">View Details</button>
          </div>
        </div>
      </div>

      <div class="modal fade" id="doctorsuganya" tabindex="-1" role="dialog" aria-labelledby="doctorModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="doctorModalLabel">Doctor Details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <div class="doctor-profile">
                      <img src="~/images/our-doctors/suganya.jpg" alt="Doctor's Photo" class="img-fluid mx-auto d-block"
                        id="modalDoctorImage">
                      <div class="card-body text-center">
                        <h2 class="card-title" id="modalDoctorName">DR. SUGANYA</h2>
                        <h4 class="card-subtitle mb-2 text-muted" id="modalSpecialty">Consultant Psychiatrist</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Brief Profile:</h3>
                        <p class="card-text">
                          Dr. SUGANYA is a  dedicated consultant psychiatrist with extensive training and expertise in diagnosing, treating , and managing a wide range of mental health conditions. with a compassionate approach and a commitment to advancing mental health care, Dr. suganya provides comprehensive psychiatric services tailored to meet the unique needs of each patients.
Dr. Suganya believes in a holistic approach to mental health, integrating medication, therapy, and lifestyle modifications to achieve the best outcomes for patients. Emphasizing empathy and patient centered care, Dr. Suganya is dedicated to supporting patients on their journey to mental wellness.
                        </p>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Educational Qualifications:</h3>
                        <ul class="card-text">
                          <li>MBBS - Rajiv gadhi university of health sciences</li>
                          <li>MD(Psychiatry)- government chengalpattu medical college & hospital</li>
                        </ul>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Experience:</h3>
                        <ul class="card-text">
                          <li>Psychiatry resident- government chengalpattu medical college, kancheepuram</li>
                          <li>Assistant surgeon  -directorate of public health, government of tamilnadu</li>
                          <li>Medical officer        - St. marie's Hospital</li>
                          <li>Casuality medical officer- Rajan's clinic</li>
                          <li>Resident medical officer-  Pioneer Hospital</li>
                          <li>Junior duty medical officer-chettinadu medical foundation private limited</li>
                        </ul>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Expertise:</h3>
                        <ul class="card-text">
                          <li>Depression </li>
                          <li>Anxiety disorders</li>
                          <li>bipolar disorder</li>
                          <li>schizophrenia</li>
                          <li>psychotherapy</li>
                            
                            
                            services:
                            <li>comprehensive psyciatric evaluations</li>
                            <li>medication management</li>
                            <li>individual and group therapy</li>
                            <li>family counseling</li>
                            <li>mental health education and advocacy</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card doc-card" data-toggle="modal" data-target="#doctorrubyraj">
          <img class="card-img-top" src="~/images/our-doctors/ruby.jpg" alt="Doctor's Photo">
          <div class="card-body">
            <h5 class="card-title">DR. RUBY RAJ</h5>
            <p class="card-text">Consultant Dental Surgeon</p>
            <p class="card-text">MBBS, DNB</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-link view-details-btn">View Details</button>
          </div>
        </div>
      </div>

      <div class="modal fade" id="doctorrubyraj" tabindex="-1" role="dialog" aria-labelledby="doctorModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="doctorModalLabel">Doctor Details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <div class="doctor-profile">
                      <img src="~/images/our-doctors/ruby.jpg" alt="Doctor's Photo" class="img-fluid mx-auto d-block"
                        id="modalDoctorImage">
                      <div class="card-body text-center">
                        <h2 class="card-title" id="modalDoctorName">DR. RUBY RAJ</h2>
                        <h4 class="card-subtitle mb-2 text-muted" id="modalSpecialty">Consultant Dentist</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Brief Profile:</h3>
                        <p class="card-text">
                          Dr. Ruby raj is dedicated and experienced dentist with 6 years of experience in the dental field, passionate about educating patients on the important at oral hygiene committed to provide the best patient care though communication and  highly quality service, provide the highest level at patients care possible
                        </p>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Educational Qualifications:</h3>
                        <ul class="card-text">
                          <li>BDS</li>
                        </ul>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Experience:</h3>
                        <ul class="card-text">
                          <li>Dental surgeon- government hospital, kozhikode, kerala</li>
                        </ul>
                      </div>
                    </div>
                    <div class="doctor-profile">
                      <div class="card-body">
                        <h3 class="section-title">Expertise:</h3>
                        <ul class="card-text">
                          <li>RCT</li>
                          <li>Cosmetic dentistry</li>
                          <li>Radiography</li>
                          <li>Patient education</li>
                          <li>patient communication</li>
                          <li>oral surgery</li>
                          <li>conservative dentistry</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      @*<div class="col-md-2">&nbsp;</div>*@
      <!-- <div class="col-12">
                <div class="d-list-top text-center">
                    <h4>Visiting Doctors to SRI SAI HOSPITALS</h4>
                    <img src="~/images/heartbeat.png" alt="">
                </div>
                <p>Dr. Sarika Patil MBBS, DA ,DNB <small>Anesthetist and Intensive Care Specialist</small></p>
                <p>Dr. Uday Kumar MBBS,MD RD <small>Radiologist</small></p>
            </div> -->
    </div>

  </div>
</section>


<!-- End Doctor List -->
