@{
    ViewBag.Title = "Outpatient Services Sri Sai Hospitals";
}

<section class="outpatientService">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="os-top text-center">                    
                        <h2 class="">Outpatient Service</h2>
                        <img src="~/images/heartbeat.png" alt="">                   
                </div>
            </div>

            <div class="col-md-12 mt-5 mb-4">
                    @* <h4>OPD Consultation Timings:</h4>*@
                    <h3>Registration and Billing for OPD</h3>
                    <hr class="orangeHdLine" />
                    <p>
                        All patients need to be registered prior to consultation. You can book an appointment online or call <b><a class="pNumber" href="tel:+91-829-633-3399">+91-829-633-3399</a></b>. The registration fee (one time charge) is Rs. 100/. You will be issued a UHID number which is valid for all services of the hospital. Please get your past case sheet to help doctor advice better care plan for you.
                    </p>
                    <p>

                        Follow-up Consultation with the same doctor within 5 days is free.
                    </p>

                    <fieldset>
                        <legend> OPD Consultation Timings</legend>
                        <p>Mon to Sat: 9AM TO 9PM</p>
                        <p>Sun: On prior appointment only</p>
                        <p>Emergency OPD services: 24/7</p>


                    </fieldset>
                </div>

        </div>
    </div>
</section>
