@{
    ViewBag.Title = "Health Packages Sri Sai Hospitals";
}

<section class="package-list">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="p-list-top">
                    <div class="text-center">
                        <h2 class="">Health Packages</h2>
                        <img src="~/images/heartbeat.png" alt="">
                    </div>
                    <h5>Have been designed keeping in mind the need for people to know their health status and to take adequate proactive measures to be in their pink of health.</h5>
                    @* <img src="~/images/heartbeat.png" alt="">*@
                </div>
            </div>
            <div class="col-md-12 mt-5">
                
                    <h3>Basic Packages</h3>
                    <hr class="orangeHdLine" />
                
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="package-box text-center">
                    <h5 class="mt-2">General Health Checkup</h5>
                    <div class="pad-10">
                        <ul class="mar-left-20 text-left ">
                            <li>Complete Blood Picture (CBC)</li>
                            <li>Glucose Fasting</li>
                            <li>Glucose Post Prandial</li>
                            <li>Complete Urine Examination (CUE)</li>
                            <li>Liver Function (AST/ALT)</li>
                            <li>Lipid Profile</li>
                            <li>Kidney Basic Screen (RFT)</li>
                            <li>TSH (Thyroid Stimulating Harmone)</li>
                            <li>Calcium</li>
                            <li>X-Ray</li>
                            <li>ECG</li>
                            <li>Doctors Consultation</li>
                        </ul>
                    </div>


                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="package-box text-center">
                    <h5 class="mt-2">Master Health Checkup - Men</h5>
                    <div class="pad-10">
                        <ul class="mar-left-20 text-left ">
                            <li>Complete Blood Picture (CBC)</li>
                            <li>Glucose Fasting</li>
                            <li>Glucose Post Prandial</li>
                            <li>Glycosylated Haemoglobin (HBA1C)</li>
                            <li>Complete Urine Examination (CUE)</li>
                            <li>Liver Function (AST/ALT)</li>
                            <li>Lipid Profile</li>
                            <li>Kidney Basic Screen (RFT)</li>
                            <li>TSH (Thyroid Stimulating Harmone)</li>
                            <li>PSA (Prostate Specific Antigen) - Total</li>
                            <li>X-Ray</li>
                            <li>ECG</li>
                            <li>Doctors Consultation</li>
                        </ul>
                    </div>


                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="package-box text-center">
                    <h5 class="mt-2">Diabetic Health Checkup</h5>
                    <div class="pad-10">
                        <ul class="mar-left-20 text-left ">
                            <li>Complete Blood Picture (CBC)</li>
                            <li>Glucose Fasting</li>
                            <li>Glucose Post Prandial</li>
                            <li>Glycosylated Haemoglobin (HBA1C)</li>
                            <li>Complete Urine Examination (CUE)</li>
                            <li>Liver Function (AST/ALT)</li>
                            <li>Lipid Profile</li>
                            <li>Kidney Basic Screen (RFT)</li>
                            <li>TSH (Thyroid Stimulating Harmone)</li>
                            <li>X-Ray</li>
                            <li>ECG</li>
                            <li>Doctors Consultation</li>
                            <li>Eye Consultation</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="package-box text-center">
                    <h5 class="mt-2">Master Health Checkup - Women</h5>
                    <div class="pad-10">
                        <ul class="mar-left-20 text-left ">
                            <li>Complete Blood Picture (CBC)</li>
                            <li>Glucose Fasting</li>
                            <li>Glucose Post Prandial</li>
                            <li>Glycosylated Haemoglobin (HBA1C)</li>
                            <li>Complete Urine Examination (CUE)</li>
                            <li>Liver Function (AST/ALT)</li>
                            <li>Lipid Profile</li>
                            <li>Kidney Basic Screen (RFT)</li>
                            <li>TSH (Thyroid Stimulating Harmone)</li>
                            <li>PAP Smear</li>
                            <li>X-Ray</li>
                            <li>ECG</li>
                            <li>Doctors Consultation</li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                
                    <h3>Advance Packages</h3>
                    <hr class="orangeHdLine" />
               
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="package-box text-center">
                    <h5 class="mt-2">General Health Checkup</h5>
                    <div class="pad-10">
                        <ul class="mar-left-20 text-left ">

                            <li>Glucose Fasting</li>
                            <li>Glucose Post Prandial</li>
                            <li>Complete Urine Examination (CUE)</li>
                            <li>Liver Function</li>
                            <li>Lipid Profile</li>
                            <li>Kidney Basic Screen (RFT)</li>
                            <li>Calcium</li>
                            <li>Thyroid Profile (T3,T4,TSH)</li>
                            <li>IRON Profile</li>
                            <li>Vitamin D3(25 Hydroxy) & Calcium</li>
                            <li>Vitamin B12</li>
                            <li>X-Ray</li>
                            <li>ECG</li>
                            <li>USG Abdomen & Pelvis</li>
                            <li>Doctors Consultation</li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="package-box text-center">
                    <h5 class="mt-2">Master Health Checkup - Men</h5>
                    <div class="pad-10">
                        <ul class="mar-left-20 text-left ">
                            <li>Haemogram (CBC, PS & ESR)</li>
                            <li>Glucose Fasting</li>
                            <li>Glucose Post Prandial</li>
                            <li>Glycosylated Haemoglobin (HBA1C)</li>
                            <li>Complete Urine Examination (CUE)</li>
                            <li>Liver Function Test(Complete)</li>
                            <li>Lipid Profile</li>
                            <li>Kidney Basic Screen (RFT)</li>
                            <li>Thyroid Profile (T3,T4,TSH)</li>
                            <li>IRON Profile (Iron, Tibc & Ferritin)</li>
                            <li>Vitamin D3(25 Hydroxy) & Calcium</li>
                            <li>Vitamin B12</li>
                            <li>PSA (Prostate Specific Antigen) - Total</li>
                            <li>ECHO</li>
                            <li>X-Ray</li>
                            <li>ECG</li>
                            <li>USG Abdomen & Pelvis</li>
                            <li>Doctors Consultation</li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="package-box text-center">
                    <h5 class="mt-2">Diabetic Health Checkup</h5>
                    <div class="pad-10">
                        <ul class="mar-left-20 text-left ">
                            <li>Haemogram (CBC, PS & ESR)</li>
                            <li>Glucose Fasting</li>
                            <li>Glucose Post Prandial</li>
                            <li>Glycosylated Haemoglobin (HBA1C)</li>
                            <li>Complete Urine Examination (CUE)</li>
                            <li>Liver Function Test(Complete)</li>
                            <li>Lipid Profile</li>
                            <li>Kidney Basic Screen (RFT)</li>
                            <li>Thyroid Profile (T3,T4,TSH)</li>
                            <li>MicroAlbumin - Urine</li>
                            <li>Urine Protien / Creatinine Ratio</li>
                            <li>Calcium</li>
                            <li>X-Ray</li>
                            <li>ECG</li>
                            <li>USG Abdomen & Pelvis</li>
                            <li>Doctors Consultation</li>
                            <li>Eye Consultation</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="package-box text-center">
                    <h5 class="mt-2">Master Health Checkup - Women</h5>
                    <div class="pad-10">
                        <ul class="mar-left-20 text-left ">
                            <li>Haemogram (CBC, PS & ESR)</li>
                            <li>Glucose Fasting</li>
                            <li>Glucose Post Prandial</li>
                            <li>Glycosylated Haemoglobin (HBA1C)</li>
                            <li>Complete Urine Examination (CUE)</li>
                            <li>Liver Function Test(Complete)</li>
                            <li>Lipid Profile</li>
                            <li>Kidney Basic Screen (RFT)</li>
                            <li>Thyroid Profile (T3,T4,TSH)</li>
                            <li>IRON Profile (Iron, Tibc & Ferritin)</li>
                            <li>Vitamin D3(25 Hydroxy) & Calcium</li>
                            <li>Vitamin B12</li>
                            <li>PAP Smear</li>                            
                            <li>ECHO</li>
                            <li>X-Ray</li>
                            <li>ECG</li>
                            <li>USG Abdomen & Pelvis</li>
                            <li>Doctors Consultation</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        </div>
</section>
<!-- End Package List -->
