@{
    ViewBag.Title = "Visitor Information Sri Sai Hospitals";
}

<section class="VisitorInformation">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="os-top text-center">                    
                        <h2 class="">Visitor Information</h2>
                        <img src="~/images/heartbeat.png" alt="">                   
                </div>
            </div>

            <div class="col-md-12 mt-5 mb-4">
                    @* <h4>OPD Consultation Timings:</h4>*@
                    <h3>Do's & Dont's</h3>
                    <hr class="orangeHdLine" />
                    <ul class="mar-left-20">
                        <li>Do not get children in visiting hours to avoid cross infection.</li>
                        <li>Do not get flowers/bouquet inside hospital as it may increase chances of infection.</li>
                        <li>Do not bring any hazardous objects inside hospital.</li>
                        <li>Show the attendant’s pass at security gate.</li>
                        <li>The hospital has got CCTV cameras for surveillance.</li>                        
                    </ul>

                    <fieldset class="mt-4">
                        <legend> Visiting Hours</legend>
                        <p>Wards- 8AM to 9AM, 1PM to 2PM, 6PM to 7PM </p>
                        <p>ICU- 10AM to 11AM, 4PM to 5PM</p>
                    </fieldset>
                </div>

        </div>
    </div>
</section>
