@{
    ViewBag.Title = "About Sri Sai Hospitals";
}
<!-- Breadcrumb Area -->        
<!---<section class="breadcrumb-area text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>About Us</h2>
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item"><a href="#">Home</a></li>
                    <li class="list-inline-item"><i class="fa fa-long-arrow-right"></i>About Us</li>
                </ul>
            </div>
        </div>
    </div>
</section>-->
<!-- End Breadcrumb Area -->
<!-- Welcome Area -->
<section class="welcome-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="welcome-box">
                    <h4>Welcome To Sri Sai Hospital</h4>
                    <img src="~/images/heartbeat.png" alt="">
                    <p>Sri Sai Hospitals is a 100 bedded multispeciality tertiary care hospital established by renowned Gastrointestinal surgeon and a visionary, Dr. Dhananjay Reddy. The inception of idea of establishing the hospital came in order to provide an advanced, affordable and holistic medical care to every strata of society under one roof. </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-image">
                    <img src="~/images/srisaihospital.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-12 welcome-box">
                <p>We are committed to advance and modern medical care through innovative and efficient services at an affordable rate.   At Sri Sai Hospitals, we provide comprehensive medical care with ethics, excellence and strict clinical governance. All of our operations follow quality assurance guidelines that meet the highest standard of patient care. Our highly trained medical team is dedicated to patient’s wellbeing & provides personalized care which is custom made to meet each patient’s requirement efficiently.</p>
            </div>
        </div>
    </div>
</section>
<!-- End Welcome Area -->
<!-- Home About Area -->
<section class="h-about">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="about-box d-flex justify-content-center">
                    <div class="core-value">
                        <h3>Transparency</h3>
                        <p>We are committed in keeping transparency and medical ethics in all our services.</p>
                    </div>
                    <div class="core-value">
                        <h3>Inclusiveness</h3>
                        <p>We aspire to work collaboratively towards patient care and community health.</p>
                    </div>
                    <div class="core-value">
                        <h3>Responsibility</h3>
                        <p>We act in respectful, honest, forthright and fiscally responsible ways.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="shedule-box">
                    <div class="open-hr">
                        <h6><i class="fa fa-clock-o"></i>Opening Hours</h6>
                        <ul class="list-unstyled">
                            <li>Wards: <span> 8AM to 9AM, 1PM to 2PM, 6PM to 7PM</span></li>
                            <li>ICU: <span> 10AM to 11AM, 5PM to 6PM</span></li>
                            <li>
                                OPD timings: <span>
                                    Monday to Saturday 8AM to 9PM, Sunday and Public holiday-Off
                                </span>
                            </li>
                            <li>Emergency room: <span> Round the clock</span></li>
                            <li>Pharmacy:  <span> Round the clock</span></li>
                        </ul>
                    </div>

                    @*<div class="open-hr">
            <h6><i class="fa fa-clock-o"></i>Operational hours</h6>
            <ul class="list-unstyled">
                <li>OPD timings: <span>
                     Monday to Saturday 8AM to 9PM, Sunday and Public holiday-Off</span></li>
                <li>Emergency room: <span> Round the clock</span></li>
                <li>Pharmacy:  <span> Round the clock</span></li>
            </ul>
        </div>

        <div class="help-box">
            <h6><i class="fa fa-pencil-square-o"></i>Need Help?</h6>
            <p>For any medical assistence you can reach any time, our team will assist you.</p>
            @Html.ActionLink("Contact", "Contact", "Home")
        </div>*@
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Home About Area -->
<!-- Service Area -->
<section class="about-service">
    <div class="container">
        <div class="row welcome-box">
            <div class="col-md-6">
                <h4>Mission </h4>
                <img src="~/images/heartbeat.png" alt="">
                <p>The Mission of Sri Sai Hospitals is to provide compassionate, accessible, high quality, cost effective healthcare to the community; to promote health; to educate healthcare professionals; and to participate in appropriate community healthcare services.</p>
</div>
            <div class="col-md-6">
                <h4>Vision  </h4>
                <img src="~/images/heartbeat.png" alt="">
                <p>Sri Sai Hospitals will be an innovative, leading regional health system dedicated to advancing the health and transforming the lives of the people we serve through excellent clinical quality; accessible, patient-centered, empathetic caring service; and unmatched doctors and employee commitment.</p>
            </div>

        </div>
    </div>
</section>
<!-- End Service Area -->
<!-- Counter Area -->
@*<section class="counter-area text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="counter-box">
                    <img src="~/images/counter-1.png" alt="" class="img-fluid">
                    <p class="counter">3729</p>
                    <h6>Happy Patients</h6>
                </div>
            </div>
            <div class="col-md-3">
                <div class="counter-box">
                    <img src="~/images/counter-2.png" alt="" class="img-fluid">
                    <p class="counter">139</p>
                    <h6>Specialists</h6>
                </div>
            </div>
            <div class="col-md-3">
                <div class="counter-box">
                    <img src="~/images/counter-3.png" alt="" class="img-fluid">
                    <p class="counter">124</p>
                    <h6>Ward Rooms</h6>
                </div>
            </div>
            <div class="col-md-3">
                <div class="counter-box">
                    <img src="~/images/counter-4.png" alt="" class="img-fluid">
                    <p class="counter">337</p>
                    <h6>Cabins</h6>
                </div>
            </div>
        </div>
    </div>
</section>*@
<!-- End Counter Area -->
<!-- Specialist Area -->
<section class="counter-area specialist">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="specialist-top text-center">
                    <h4>Meet Our Specialists</h4>
                    <img src="~/images/heartbeat.png" alt="">
                </div>
            </div>
            <div class="col-md-12">
                <div class="owl-doctor owl-carousel">
                    <div class="doctor-box text-center">
                        <img src="~/images/dr-danajaya-reddy.jpg" alt="" class="img-fluid">
                        <h5>
                            Dr Dhananjay Reddy	 <br />
                            <span>MBBS, MS, MRCS, AFRCS</span>
                        </h5>
                        <p>
                            Gastro Surgeon
                        </p>
                    </div>

                    <div class="doctor-box text-center">
                        <img src="~/images/dr-bhanuchandra.jpg" alt="" class="img-fluid">
                        <h5>
                            Dr Bhanu Chandra<br />
                            <span>
                                MBBS, DNB
                            </span>
                        </h5>
                        <p>
                            Neuro Surgeon
                        </p>
                    </div>

                    <div class="doctor-box text-center">
                        <img src="~/images/Dr Viraj.jpg" alt="" class="img-fluid">
                        <h5>
                            Dr Viraj Shetty<br />
                            <span>
                                MBBS, MD (Anaesthesiologist and Intensivist)
                            </span>
                        </h5>
                        <p>
                            Anaesthetist
                        </p>
                    </div>

                    <div class="doctor-box text-center">
                        <img src="~/images/Dr_Dayanand.jpg" alt="" class="img-fluid">
                        <h5>
                            Dr. Dayanand B. Yaligar<br />
                            <span>
                                MBBS, DIP CARD, DIP DIAB
                            </span>
                        </h5>
                        <p>
                            Clinical Cardiologist and Diabetologist
                        </p>
                    </div>

                    <div class="doctor-box text-center">
                        <img src="~/images/DR ARPITHA.jpg" alt="" class="img-fluid">
                        <h5>
                            Dr Arpitha<br />
                            <span>
                                MBBS, MD (Anaesthesiologist and Intensivist)
                            </span>
                        </h5>
                        <p>
                            Anaesthetist
                        </p>
                    </div>

                    <div class="doctor-box text-center">
                        <img src="~/images/DR MUTHU RAJAN.jpg" alt="" class="img-fluid">
                        <h5>
                            Dr Muthu Rajan<br />
                            <span>
                                MBBS, MS. FRCS, Dip MIS, FIAPS, MBA
                            </span>
                        </h5>
                        <p>
                            Paediatric Surgeon
                        </p>
                    </div>

                    <div class="doctor-box text-center">
                        <img src="~/images/Dr_Krishna.jpg" alt="" class="img-fluid">
                        <h5>
                            Dr Krishna Kumar V<br />
                            <span>
                                MBBS, MD (General Medicine), DNB, DM
                            </span>
                        </h5>
                        <p>
                            Nephrology
                        </p>
                    </div>



                    <div class="doctor-box text-center">
                        <img src="~/images/DR CHANNABASAVASA PATIL.jpg" alt="" class="img-fluid">
                        <h5>
                            Dr Channabasavasa Patil<br />
                            <span>
                                MBBS, MS (ORTHO)
                            </span>
                        </h5>
                        <p>
                            Orthopedics
                        </p>
                    </div>
                    <div class="doctor-box text-center">
                        <img src="~/images/Dr_Lohith.jpg" alt="" class="img-fluid">
                        <h5>
                            Dr Lohith<br />
                            <span>
                                MBBS, MS (ORTHO)
                            </span>
                        </h5>
                        <p>
                            Orthopedics
                        </p>
                    </div>

                    <div class="doctor-box text-center">
                        <img src="~/images/dr-parry.jpg" alt="" class="img-fluid">
                        <h5>
                            Dr Paary. T.T S<br />
                            <span>
                                MBBS, MD,DM (Anaesthesiologist and Intensivist)
                            </span>
                        </h5>
                        <p>
                            Anaesthetist
                        </p>
                    </div>

                    <div class="doctor-box text-center">
                        <img src="~/images/dr-j-ramkumar.jpg" alt="" class="img-fluid">
                        <h5>
                            Dr Ram Kumar<br />
                            <span>
                                MBBS, MS , M Ch. (Urology)
                            </span>
                        </h5>
                        <p>
                            Urologist
                        </p>
                    </div>

                    <div class="doctor-box text-center">
                        <img src="~/images/dr-karthik-ramappa.jpg" alt="" class="img-fluid">
                        <h5>
                            Dr Karthik Ramappa<br />
                            <span>
                                MBBS, MD, (Fellowship in Dermato Surgery)
                            </span>
                        </h5>
                        <p>
                            Dermatologist
                        </p>
                    </div>

                    <div class="doctor-box text-center">
                        <img src="~/images/dr-netra.png" alt="" class="img-fluid">
                        <h5>
                            Dr. Nethra H R <br />
                            <span>
                                MBBS, MD (OBG)
                            </span>
                        </h5>
                        <p>Obstetrics and Gynaecology</p>
                    </div>
                    <div class="doctor-box text-center">
                        <img src="~/images/Dr_Ethiraj_Prakash.jpg" alt="" class="img-fluid">
                        <h5>
                            Dr Ethiraj Prakash<br />
                            <span>
                                MBBS, DNB
                            </span>
                        </h5>
                        <p>
                            General Surgery
                        </p>
                    </div>

                    <div class="doctor-box text-center">
                        <img src="~/images/Dr_Sulochana.jpg" alt="" class="img-fluid">
                        <h5>
                            Dr Sulochana P<br />
                            <span>
                                MBBS, DNB
                            </span>
                        </h5>
                        <p>
                            General Medicine
                        </p>
                    </div>
                    <!---Old Carousel contentCode starts here-->
                    @* <div class="carousel-content">
            <img src="~/images/dr-danajaya-reddy.jpg" alt="" class="img-fluid">
            <div class="doc-content text-center">
                <h5>
                    Dr Dhananjay Reddy
                </h5>
                <p>Gastro Surgeon</p>
            </div>
        </div>
        <div class="carousel-content">
            <img src="~/images/dr-bhanuchandra.jpg" alt="" class="img-fluid">
            <div class="doc-content text-center">
                <h5>
                    Dr Bhanu Chandra
                </h5>
                <p>
                    Neuro Surgeon
                </p>
            </div>
        </div>
        <div class="carousel-content">
            <img src="~/images/DR CHANNABASAVASA PATIL.jpg" alt="" class="img-fluid">
            <div class="doc-content text-center">
                <h5>
                    Dr Channabasavasa Patil
                </h5>
                <p>
                    Orthopedics
                </p>
            </div>
        </div>

        <div class="carousel-content">
            <img src="~/images/DR MUTHU RAJAN.jpg" alt="" class="img-fluid">
            <div class="doc-content text-center">
                <h5>
                    Dr Muthu Rajan
                </h5>
                <p>
                    Paediatric Surgeon
                </p>
            </div>
        </div>

        <div class="carousel-content">
            <img src="~/images/Dr Viraj.jpg" alt="" class="img-fluid">
            <div class="doc-content text-center">
                <h5>
                    Dr Viraj Shetty<br/>
                </h5>
                <p>
                    Anaesthetist
                </p>
            </div>
        </div>

        <div class="carousel-content">
            <img src="~/images/DR ARPITHA.jpg" alt="" class="img-fluid">
            <div class="doc-content text-center">
                <h5>
                    Dr Arpitha<br/>
                </h5>
                <p>
                    Anaesthetist
                </p>
            </div>
        </div>

        <div class="carousel-content">
            <img src="~/images/DR VIVEK BAGODI.jpg" alt="" class="img-fluid">
            <div class="doc-content text-center">
                <h5>
                    Dr Vivek Bagodi<br/>
                </h5>
                <p>
                    Diabetology
                </p>
            </div>
        </div>

        <div class="carousel-content">
            <img src="~/images/dr-parry.jpg" alt="" class="img-fluid">
            <div class="doc-content text-center">
                <h5>
                    Dr Paary. T.T S<br/>
                </h5>
                <p>
                    Anaesthetist
                </p>
            </div>
        </div>

        <div class="carousel-content">
            <img src="~/images/dr-j-ramkumar.jpg" alt="" class="img-fluid">
            <div class="doc-content text-center">
                <h5>
                    Dr Ram Kumar<br/>
                </h5>
                <p>
                    Urologist
                </p>
            </div>
        </div>

        <div class="carousel-content">
            <img src="~/images/dr-karthik-ramappa.jpg" alt="" class="img-fluid">
            <div class="doc-content text-center">
                <h5>
                    Dr Karthik Ramappa<br/>
                </h5>
                <p>
                    Dermatologist
                </p>
            </div>
        </div>

        <div class="carousel-content">
            <img src="~/images/Dr Unknown 6.jpg" alt="" class="img-fluid">
            <div class="doc-content text-center">
                <h5>
                    Dr. Rekha <br/>
                </h5>
                <p>
                    Need Info
                </p>
            </div>
        </div>*@
                    <!-----Old Carousel contentCode ends here-->



                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Specialist Area -->