@{
    ViewBag.Title = "Admission & Discharge Procedures Sri Sai Hospitals";
}

<section class="ADProcedures">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="adp-top text-center">
                    <h2>Admission & Discharge Procedure</h2>
                    <img src="~/images/heartbeat.png" alt="">
                </div>
            </div>

            <div class="col-md-12 mt-5">
                <h3>Admission Procedure:</h3>
                <hr class="orangeHdLine" />
                <ul class="mar-left-20">
                    <li>Once you have been advised for admission by your Doctor, either the patient or relative must contact the front office staff.</li>
                    <li>An admission form will be provided for completion with patient details, and a consent form to be signed for the treatment that will be provided.</li>
                    <li>You can take room category of your choice. A deposit will have to be paid at the billing counter.</li>
                    <li>Once the registration formalities are completed, the patient is escorted to the room.</li>
                    <li>Only one attendant is allowed to accompany the patient.</li>
                    <li>An attendant’s pass will be issued to the person accompanying the patient.</li>
                </ul>
            </div>

            <div class="col-md-12 mt-5 mb-4">
                <h3>Discharge Process:</h3>
                <hr class="orangeHdLine" />
                <ul class="mar-left-20">
                    <li>Discharge of the patient will be authorized as per the doctor's opinion.</li>
                    <li>In case the patient/relative wishes to be transferred to another hospital or be sent home against the advice of the doctor, the patient/relative would be required to sign a 'Discharge against Medical Advice' declaration and the hospital will not be held responsible for any change in the patient's condition, thereafter.</li>
                    <li>Your Summary Report/Discharge Card/Final bill will be given to you by the floor staff at the time of discharge.</li>
                    <li>Please pay any balance amount at billing counter and take receipt and show it to nursing counter for discharge clearance.</li>
                    <li>Your allocated nurse will explain the home care you need to take along with post discharge medications.</li>
                    <li>Free consultation is provided for any follow-up consultation within 5 days of discharge date.</li>
                    <li>Please submit the visitor passes at the billing department after discharge.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
