@{
    ViewBag.Title = "Ambulance Services Sri Sai Hospitals";
}

<section class="insuranceService">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="is-top">
                    <div class="text-center">
                        <h2 class="">Ambulance Services</h2>
                        <img src="~/images/heartbeat.png" alt="">
                    </div>
                    <h5>We have fully equipped ambulance available for transporting patients to and from the hospital. For availing this service, please contact us on <b><a class="pNumber" href="tel:+91-829-633-3399">+91-829-633-3399</a></b>.</h5>
                </div>
            </div>         


        </div>
    </div>
</section>
<!-- End Package List -->
