@{
    ViewBag.Title = "Diagnostic Services Sri Sai Hospitals";
}

<section class="diagnosticServices-list">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ds-list-top">
                    <div class="text-center">
                        <h2 class="">Diagnostic Services</h2>
                        <img src="~/images/heartbeat.png" alt="">
                    </div>
                    <h5>Sri Sai Hospitals diagnostic services facilitate the provision of timely, cost-effective, and high quality diagnostic care in safe and secure environments.</h5>
                </div>
            </div>

            <div class="col-md-12 mt-5">
                <div class="accordion" id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <h5 class="mb-0">
                                Fully Automatic Pathology Lab
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <ul class="mar-left-20 text-left ">
                                    <li >COVID-19 Antibody Test</li>
                                    <li>Haematology</li>
                                    <li>Biochemistry</li>
                                    <li>Microbiology</li>
                                    <li>Serology</li>
                                    <li>Histopathology</li>
                                    <li>Immunoassay</li>
                                    <li>Molecular Biology</li>
                                    <li>Hormonal Tests</li>
                                    <li>Blood/ blood products storage</li>
                                    <li>Home Sample Collection Facility</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h5 class="mb-0">
                                Radiology And Imaging
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                <ul class="mar-left-20 text-left ">
                                    <li>32 Slice CT Scan</li>
                                    <li>Digital X Ray</li>
                                    <li>Ultrasound (USG)</li>
                                    <li>C-Arm Image Intensifier</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <h5 class="mb-0">
                                Non Invasive Cardiology
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                <ul class="mar-left-20 text-left ">
                                    <li>ECG</li>
                                    <li>TMT</li>
                                    <li>ECHO</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <h5 class="mb-0">
                                Other Tests
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="card-body">
                                <ul class="mar-left-20 text-left ">
                                    <li>Pulmonary Function Test (PFT)</li>
                                    <li>Audiology</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
