@{
    ViewBag.Title = "Dr Aravinda Us Sri Sai Hospitals";
}
<!-- Breadcrumb Area -->
<!--
<section class="breadcrumb-area text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Doctor Details</h2>
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item"><a href="#">Home</a></li>
                    <li class="list-inline-item"><i class="fa fa-long-arrow-right"></i>Doctor Details</li>
                </ul>
            </div>
        </div>
    </div>
</section>
    -->
<!-- End Breadcrumb Area -->
<!-- Doctor Details -->
<section class="doc-details">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="doc-image">
                            <img src="images/spe-1.png" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="open-hr">
                            <h6><i class="fa fa-clock-o"></i>Opening Hours</h6>
                            <ul class="list-unstyled">
                                <li>Monday - Friday <span>8:30am - 9:00pm</span></li>
                                <li>Saturday <span>10:30am - 2:30pm</span></li>
                                <li>Sunday <span>10:00am - 5:00pm</span></li>
                            </ul>
                            <a href="#">Book an Appointment</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="doc-pro">
                            <h4>Dr. Aravinda</h4>
                            <span>Head of Department, Cardiology</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam molestias natus et laborum quam velit enim. Recusandae, voluptates, sequi praesentium dolor illo laboriosam doloribus, earum fugit adipisci maiores, ullam modi.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, ad, consequatur! Mollitia commodi libero dolores ipsam eum nesciunt.</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="doc-pbox">
                            <ul class="list-unstyled">
                                <li>Speciality</li>
                                <li>Cardiology</li>
                                <li>Padiatric Medicine</li>
                                <li>Urology</li>
                            </ul>
                            <ul class="list-unstyled">
                                <li>Education</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                            </ul>
                            <ul class="list-unstyled">
                                <li>Experience</li>
                                <li>20 Years Experience as Surgeon.</li>
                                <li>10 Years Experience as Cardiologist.</li>
                            </ul>
                            <ul class="list-unstyled">
                                <li>Awards & Recognition</li>
                                <li>Cheif Medical Officer, Usmania Medical Institute.</li>
                                <li>Head of Cardiology, Perundu Hospital.</li>
                            </ul>
                            <ul class="list-unstyled">
                                <li>Address</li>
                                <li>Attibele,Bangalore</li>
                            </ul>
                            <ul class="list-unstyled">
                                <li>Phone</li>
                                <li>+1 908 875 7678</li>
                            </ul>
                            <ul class="list-unstyled">
                                <li>Email</li>
                                <li><a href="#" class="__cf_email__">info@srisaihospitals.co.in</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Doctor Details -->
<!-- Counter Area -->
<section class="counter-area text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="counter-box">
                    <img src="images/counter-1.png" alt="" class="img-fluid">
                    <p class="counter">3729</p>
                    <h6>Happy Patients</h6>
                </div>
            </div>
            <div class="col-md-3">
                <div class="counter-box">
                    <img src="images/counter-2.png" alt="" class="img-fluid">
                    <p class="counter">139</p>
                    <h6>Specialists</h6>
                </div>
            </div>
            <div class="col-md-3">
                <div class="counter-box">
                    <img src="images/counter-3.png" alt="" class="img-fluid">
                    <p class="counter">124</p>
                    <h6>Ward Rooms</h6>
                </div>
            </div>
            <div class="col-md-3">
                <div class="counter-box">
                    <img src="images/counter-4.png" alt="" class="img-fluid">
                    <p class="counter">337</p>
                    <h6>Cabins</h6>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Counter Area -->