

<!--specialitydetails-start-->

@{
    ViewBag.Title = "specialits-details Sri Sai Hospitals";
}
<!-- Breadcrumb Area -->
<!---<section class="breadcrumb-area text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>About Us</h2>
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item"><a href="#">Home</a></li>
                    <li class="list-inline-item"><i class="fa fa-long-arrow-right"></i>About Us</li>
                </ul>
            </div>
        </div>
    </div>
</section>-->
<!-- End Breadcrumb Area -->
<!-- Welcome Area -->
<section id="Emergency" class="welcome-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="welcome-box">
                    <h4>Emergency Medicine</h4>
                    <img src="~/images/heartbeat.png" alt="">
                    <p>
                        Emergency medicine is a medical speciality—a field of practice based on the knowledge and skills required to prevent, diagnose, and manage acute and urgent aspects of illness and injury affecting patients of all age groups with a full spectrum of undifferentiated physical and behavioural disorders.
                        At Sri Sai Hospitals, we have round the clock, advanced emergency care facility which is equipped with latest monitoring and interventional devices to attend to all kinds of urgent cases.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-image">
                    <img src="~/images/srisaihospital.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-12 welcome-box">
                <p>We maintain utmost proficiency and clinical governance to each case landing in our Emergency room. We support our emergency room with fast-track CT scan, Xray, Ultrasound, Lab and other diagnostic tools.</p>
                <p>
                    We attend to emergencies like:
                    <br />
                    Road traffic accidents, bleeding that won't stop, breathing problems, chest pain, choking, vomiting blood, fainting, head or spine injury, sudden dizziness, weakness or change in vision, severe abdominal pain or pressure, medicine overdose, hanging, stab injuries, fire or chemical burns, snake bite and poisonings amongst others.
                    We have round the clock ambulance facility with trained emergency nurses, monitoring devices, defibrillator, emergency medicines and oxygen supply.
                    Please call on our hospital no. 8296333399 to book the ambulance and receive emergency care.

                </p>
            </div>

        </div>
        <hr />
    </div>
</section>
<section id="Laboratory" class="welcome-area">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="about-image">
                    <img src="~/images/srisaihospital.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6">
                <div class="welcome-box">
                    <h4>Laboratory Service </h4>
                    <img src="~/images/heartbeat.png" alt="">
                    <p>
                        A medical laboratory or clinical laboratory is a laboratory where tests are conducted out on clinical specimens to obtain information about the health of a patient to aid in diagnosis, treatment, and prevention of disease.

                    </p>

                </div>
            </div>


            <div class="col-md-12 welcome-box pt-5">
                <h6> At Sri Sai Hospital, we provide the best laboratory Services round the clock:</h6>
                <ul class="ml-4">
                    <br />

                    <li>
                        Clinical Bio-Chemistry
                    </li>
                    <li>
                        Clinical Microbiology and Serology
                    </li>
                    <li>
                        Clinical Pathology
                    </li>
                    <li>
                        Cytopathology
                    </li>
                    <li>
                        Haematology
                    </li>
                    <li>
                        Histopathology
                    </li>
                </ul>
                <br />
                <p>
                    The lab is equipped with automated analyser, blood gas analyser, Cell Counters etc, to back up critical care cases. <br />
                    We adhere tothe quality control (QC) measures for all our Lab equipment on a daily basis and also maintain a strict reporting time (TAT) for each report to augment swift clinical diagnosis.
                    <br /> We also provide services at your doorstep whereby you can order sample collection from the comfort of yourhome and our trained lab technician will assist you with your requirements. Just call our hospital no. 8296333399 and place the request for sample collection from your home itself. The reports shall be dispatched to you on your Email or WhatsApp.


                </p>
            </div>

        </div>
        <hr />
    </div>
</section>
<section id="General" class="welcome-area">
    <div class="container">
        <div class="row">


            <div class="col-md-6">
                <div class="welcome-box">
                    <h4>General Ward </h4>
                    <img src="~/images/heartbeat.png" alt="">
                    <p>
                        There are separate Male and Female Wards with 10 beds in each ward. The wards are spacious and minimum distance between each bed is kept according to the national standards to avoid cross infection and to provide privacy and comfort. It is well ventilated and has ample natural light to help patients heal better and faster. It is provided with bed linen and hot water facility.It is equipped with necessary medical monitoring equipments, oxygen supply and emergency drugs.
                    </p>

                </div>
            </div>
            <div class="col-md-6">
                <div class="about-image">
                    <img src="~/images/srisaihospital.jpg" alt="" class="img-fluid">
                </div>
            </div>




        </div>
        <hr />
    </div>
</section>
<section id="Ward" class="welcome-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-image">
                    <img src="~/images/srisaihospital.jpg" alt="" class="img-fluid">
                </div>
            </div>

            <div class="col-md-6">
                <div class="welcome-box">
                    <h4>Semi-Private Rooms </h4>
                    <img src="~/images/heartbeat.png" alt="">
                    <p>
                        These are twin sharing rooms whereby 2 patients can stay in a room with separate beds for the attender. There is a mini partition between the two patient beds. Rooms are equipped with suction and oxygen supply along with nurse calling bell system for each bed. It hasa TV and an attached bathroom with the hot water facility. Patients are also provided with a welcome kit containing the toiletries at the time of admission.
                    </p>

                </div>
            </div>


        </div>
        <hr />
    </div>
</section>
<section id="Private" class="welcome-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="welcome-box">
                    <h4>Private Rooms </h4>
                    <img src="~/images/heartbeat.png" alt="">
                    <p>
                        We have A/C and non A/C single rooms where single patient occupies the room with the attender. They have all the facilities of semi-private rooms plus they get additional canteen facilities, hot water kettle and oven to warm the food.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-image">
                    <img src="~/images/srisaihospital.jpg" alt="" class="img-fluid">
                </div>
            </div>

        </div>
        <hr />
    </div>
</section>
<section id="Deluxe" class="welcome-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-image">
                    <img src="~/images/srisaihospital.jpg" alt="" class="img-fluid">
                </div>
            </div>


            <div class="col-md-6">
                <div class="welcome-box">
                    <h4>Deluxe Rooms </h4>
                    <img src="~/images/heartbeat.png" alt="">
                    <p>
                        Deluxe rooms are spacious A/C rooms which are very comfortable and are additionally provided with a mini freeze and a sofa set over the private room facilities.
                    </p>

                </div>
            </div>


        </div>
        <hr />
    </div>
</section>

<section id="Combined" class="welcome-area">
    <div class="container">
        <div class="row">


            <div class="col-md-6">
                <div class="welcome-box">
                    <h4>Combined Critical Care ICU (Medical and Surgical) </h4>
                    <img src="~/images/heartbeat.png" alt="">
                    <p>
                        We have an advanced Intensive care unit of12 beds which is fully air conditioned to maintain air and humidity parameters, equipped with ultra-modern ventilators, NIV and cardiac monitors, suction and oxygen supplies etc.
                        We maintain 1:1 patient to nurse ratio in ICU for the personalised and dedicated care to each patient.We offer personalized, round-the-clock care to stabilize and treat complex medical/surgical conditions, ensuring the highest level of patient safety and recovery. Experience compassionate, expert care in our ICUs when it matters the most.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-image">
                    <img src="~/images/srisaihospital.jpg" alt="" class="img-fluid">
                </div>
            </div>


        </div>
        <hr />
    </div>
</section>

<section id="Labour" class="welcome-area">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="about-image">
                    <img src="~/images/srisaihospital.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6">
                <div class="welcome-box">
                    <h4>Labour, Delivery and Recovery Unit </h4>
                    <img src="~/images/heartbeat.png" alt="">
                    <p>
                        A labor and delivery (L&D) department in a hospital, sometimes referred to as the obstetrics department, is a specialized unit that provides care to pregnant individuals during labor, childbirth, and the immediate post-delivery period.
                        <br /> The highly experienced doctor combined with compassionate and skilled nurses, we provide you with a painless normal delivery. Please meet our gynaecologist to know more about the “Painless Normal Delivery”.
                    </p>
                </div>
            </div>



        </div>
        <hr />
    </div>
</section>
<section id="Dialysis" class="welcome-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="welcome-box">
                    <h4>Dialysis </h4>
                    <img src="~/images/heartbeat.png" alt="">
                    <p>
                        Dialysis is a type of renal replacement therapy which is used to provide an artificial replacement for lost kidney functions. There are two main forms of dialysis, Haemodialysis and Peritoneal Dialysis, both of which are life support treatments; but dialysis does not treat kidney diseases. Dialysis may be used for patients who have recently lost kidney functions (acute renal failure) or for patients who have permanently lost kidney functions (chronic or end-stage renal failure).
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-image">
                    <img src="~/images/srisaihospital.jpg" alt="" class="img-fluid">
                </div>
            </div>

            <div class="col-md-12 welcome-box">
                <p>
                    At Sri Sai Hospitals, the Dialysis unit is equipped with advanced Dialysis machines and highly trained technicians to provide you with a hassle free dialysis session. It is also one of the most affordable dialysis center in the area. We strictly use single use dialysers for better outcome and to prevent cross infections.
                </p>

            </div>

        </div>

        <hr />
    </div>
</section>
<section id="Operation" class="welcome-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-image">
                    <img src="~/images/srisaihospital.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6">
                <div class="welcome-box">
                    <h4>Operation Theatres </h4>
                    <img src="~/images/heartbeat.png" alt="">
                    <p>
                        An operation theater, also known as an operating room, is a facility within a hospital where surgical operations are carried out in an aseptic environment.
                        <br />Our state-of-the-art Surgical Facilities are equipped with the latest medical technology to ensure precision and safety in every procedure. With a team of highly skilled surgeons and specialised staff, we provide a wide range of surgeries, from minimally invasive techniques to complex operations.
                    </p>
                </div>
            </div>


            <div class="col-md-12 welcome-box">
                <p>
                    Our facilities are designed to prioritize patient comfort and safety, ensuring seamless pre-operative, surgical, and post-operative care. Experience advanced surgical care tailored to your needs.
                </p>

            </div>


        </div>
        <hr />
    </div>
</section>
<section id="Physiotherapy" class="welcome-area">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="welcome-box">
                    <h4>Physiotherapy</h4>
                    <img src="~/images/heartbeat.png" alt="">
                    <p>
                        Our Rehabilitation and Physiotherapy services focus on helping patients regain strength, mobility, and independence after surgery, injury, or illness. With personalized therapy plans, our experienced physiotherapists use advanced techniques and equipment to promote faster recovery and long-term well-being. Whether you're recovering from orthopaedic, neurological, or age related conditions, we are dedicated to improving your quality of life through comprehensive care and support.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-image">
                    <img src="~/images/srisaihospital.jpg" alt="" class="img-fluid">
                </div>
            </div>





        </div>
        <hr />
    </div>
</section>
<section id="Full-body" class="welcome-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-image">
                    <img src="~/images/srisaihospital.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6">
                <div class="welcome-box">
                    <h4>Full body Health Check-up </h4>
                    <img src="~/images/heartbeat.png" alt="">
                    <p>
                        Our full body check-up test lists cover a wide range of health parameters. From blood tests to cardiac assessments, our tests are designed to provide a comprehensive health profile. Each preventive health package includes specific inclusions that are relevant to the health check-up type, ensuring a detailed analysis of your health. Depending upon the package chosen, full body
                    </p>
                </div>
            </div>


            <div class="col-md-12 welcome-box pt-5"
                <h6>
                   Preventive health check-up at Sri Sai Hospital may include the following components:
                </h6>
                <ul class="ml-4">
                    <li>Laboratory tests: A wide range of blood tests, urine tests, and other laboratory investigations to assess various health parameters.</li>
                    <li>
                        Imaging tests: Depending on your individual needs, imaging tests like X-rays, ultrasounds, or CT scans may be used to gain deeper insights into your internal health.
                    </li>
                    <li>
                        Organ-specific tests: These include a wide spectrum of tests to assess the health of different organs of the body, such as heart, kidney, liver, etc.
                    </li>
                    <li>	Medical history review: A detailed review of your past medical history and any existing conditions by a doctor.</li>
                    <li>
                        Physical examination: A thorough physical examination by a qualified doctor.
                    </li>
                </ul>
                <br />
                <h6>
                    Regular full body check-ups offer numerous benefits, including:
                </h6>
                <ul class ="ml-4">
                    <li>
                        Allows early detection of diseases: Identifying health issues in their early stages allows for prompt intervention and treatment, improving your chances of successful recovery.
                    </li>
                    <li>
                        Helps monitor existing conditions: For individuals with existing health concerns, a full body check-up can help track the effectiveness of ongoing treatment and make necessary adjustments as needed.
                    </li>
                    <li>
                        Reduces risk of acquiring chronic diseases: By proactively addressing potential risk factors and promoting healthy lifestyle choices, you can significantly reduce your risk of developing chronic diseases.
                    </li>
                    <li>
                        Improved overall health: A full body check-up provides valuable information about your current health status, empowering you to make informed decisions about your lifestyle and healthcare.
                    </li>

                    </ul>
                    <p>
                        To book your health check-up with us, please call 8296333399.
                        <br />Sample collection facility is now available at your door step.
                        <br /> MRI (on demand)
                        <br />We have tie-up with leading MRI scan canters and will arrange for an ambulance pick-up and drop for the needy patient.

                    </p>
                </div>


        </div>
        <hr />
    </div>
</section>





<!-- End Welcome Area -->
<!-- End Specialist Area -->
<!-- End Welcome Area -->
<!-- End Specialist Area -->