@{
    ViewBag.Title = "Insurance Sri Sai Hospitals";
}

<section class="insuranceService">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="is-top">
                    <div class="text-center">
                        <h2 class="">TPA Insurance</h2>
                        <img src="~/images/heartbeat.png" alt="">
                    </div>
                    <h5>We have tie-ups with various insurance companies for cashless treatment at our hospital. The Insured is entitled for cashless access at the provider for all such ailments which are covered under the medical/health insurance policy sum insured limit/sub limits and not specifically excluded under the policy.</h5>
                    @* <img src="~/images/heartbeat.png" alt="">*@
                </div>
            </div>
            <div class="col-md-12 mt-5">
                <h3>TPA Tie Ups</h3>
                <hr class="orangeHdLine" />
                <p class="mb-1">Following TPAs has tie-up with us and many others are under process.</p>
                <ol class="pl-3">
                    <li><b>Star Health and Allied Insurance Co Ltd</b></li>
                    <li><b>HDFC ERGO General Insurance Co Ltd</b></li>
                    <li><b>Cholamandalam General Insurance</b></li>
                    <li><b>Mediassist</b></li>
                    <li><b>Religare</b></li>
                    <li><b>Apollo Munich</b></li>
                    <li><b>Aditya Birla Health Insurance</b></li>
                </ol>
            </div>

            <div class="col-md-12 mt-5">
                <h3>Policies & Procedures</h3>
                <hr class="orangeHdLine" />
                <div class="accordion" id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <h5 class="mb-0">
                                Pre-Admission & Admission Requirements
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <ul class="mar-left-20 text-left ">
                                    <li>Request for hospitalization shall be forwarded by the provider immediately after obtaining due details from the treating doctor in the preauthorization form i.e. request for authorization letter (RAL).</li>
                                    <li>The RAL shall be sent electronically along with all relevant details in the electronic form to the 24 hour authorization/cashless department of the insurer or of its representative. TPA's medical team may consult the treating physician and the insured.</li>
                                    <li>The insurer's or its representative TPA's medical team may consult the treating physician or the insured, if necessary.</li>
                                    <li>If the treating physician of the provider identifies any disease or ailment as pre-existing, the treating physician shall record it and also inform the insured immediately.</li>
                                    <li>In the case where the symptoms appear vague/no effective diagnosis is arrived at, the medical team of the insurer or its representative TPA may consult with treating physician/insured if necessary.</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h5 class="mb-0">
                                Getting Discharged (Document Requirements)
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                <p class="mb-1">The following documents shall be included by the patient in the list of documents to be sent along with the claim form to the insurer or its representative TPA.</p>
                                <ul class="mar-left-20 text-left ">
                                    <li>Original pre-authorization request form</li>
                                    <li>Copy of authorization letter</li>
                                    <li>Original investigation report</li>
                                    <li>All original prescription & pharmacy receipt etc. where the insured requires the discharged card/reports or other relevant medical documents.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>



        </div>
    </div>
</section>
<!-- End Package List -->
