@{
    ViewBag.Title = "Sri Sai Hospitals::Facilities";
}
<!-- Breadcrumb Area -->
<!--
        <section class="breadcrumb-area text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Service</h2>
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item"><a href="#">Home</a></li>
                            <li class="list-inline-item"><i class="fa fa-long-arrow-right"></i>Service</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    -->
<!-- End Breadcrumb Area -->
<!-- Service Area -->
<!-- Department Area -->
<section class="department">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="department-top text-center">
                    <h4>Our Services</h4>
                    <img src="~/images/heartbeat.png" alt="">
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="our-services">
                        <a class="nav-link" data-toggle="pill" href="specialitiesDetails#Accident">
                            <img src="~/images/accident.png" alt="">
                            <p>Accident & trauma</p>
                        </a>
                        <a class="nav-link" data-toggle="pill" href="#">
                            <img src="~/images/anaesthesiology.png" alt="">
                            <p>Anaesthesiology</p>
                        </a>
                        <a class="nav-link" data-toggle="pill" href="specialitiesDetails#General Medicine">
                            <img src="~/images/general-medicine.png" alt="">
                            <p>General Medicine</p>
                        </a>
                        <a class="nav-link" data-toggle="pill" href="#">
                            <img src="~/images/pulmonology.png" alt="">
                            <p>Pulmonology</p>
                        </a>
                        <a class="nav-link" data-toggle="pill" href="#">
                            <img src="~/images/genaral-s.png" alt="">
                            <p>General Surgery</p>
                        </a>
                        <a class="nav-link" data-toggle="pill" href="specialitiesDetails#Obstetric">
                            <img src="~/images/gynaecology.png" alt="">
                            <p>Obstetric & Gynaecology</p>
                        </a>
                        <a class="nav-link" data-toggle="pill" href="#">
                            <img src="~/images/orthopaedics.png" alt="">
                            <p>Orthopaedics & Sports Medicine</p>
                        </a>
                        <a class="nav-link" data-toggle="pill" href="specialitiesDetails#Orthopaedics">
                            <img src="~/images/joint-replacements.png" alt="">
                            <p>Joint Replacements</p>
                        </a>
                        <a class="nav-link" data-toggle="pill" href="specialitiesDetails#Dentistry">
                            <img src="~/images/dentistry.png" alt="">
                            <p>Dentistry</p>
                        </a>
                        <a class="nav-link" data-toggle="pill" href="#">
                            <img src="~/images/cardiology.png" alt="">
                            <p>Diabetes & Heart Care</p>
                        </a>
                        <a class="nav-link" data-toggle="pill" href="specialitiesDetails#Endoscopy">
                            <img src="~/images/paediatrics.png" alt="">
                            <p>Endoscopy</p>
                        </a>
                        <a class="nav-link" data-toggle="pill" href="specialitiesDetails#Urology">
                            <img src="~/images/ophthalmology.png" alt="">
                            <p>Urology</p>
                        </a>
                        <a class="nav-link" data-toggle="pill" href="specialitiesDetails#Neurosurgery">
                            <img src="~/images/neurosurgery.png" alt="">
                            <p>Neurosurgery</p>
                        </a>
                        <a class="nav-link" data-toggle="pill" href="specialitiesDetails#Nephrology">
                            <img src="~/images/nephrology.png" alt="">
                            <p>Nephrology & Dialysis</p>
                        </a>
                        <a class="nav-link" data-toggle="pill" href="specialitiesDetails#Dermatology">
                            <img src="~/images/dermatology.png" alt="">
                            <p>Dermatology</p>
                        </a>
                        <a class="nav-link" data-toggle="pill" href="specialitiesDetails#Physiotherapy">
                            <img src="~/images/physiotherapy.png" alt="">
                            <p>Physiotherapy</p>
                        </a>
                        <a class="nav-link" data-toggle="pill" href="specialitiesDetails#ENT">
                            <img src="~/images/ent.png" alt="">
                            <p>ENT</p>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Department Area -->
<!-- Counter Area -->
@*<section class="counter-area text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="counter-box">
                    <img src="images/counter-1.png" alt="" class="img-fluid">
                    <p class="counter">3729</p>
                    <h6>Happy Patients</h6>
                </div>
            </div>
            <div class="col-md-3">
                <div class="counter-box">
                    <img src="images/counter-2.png" alt="" class="img-fluid">
                    <p class="counter">139</p>
                    <h6>Specialists</h6>
                </div>
            </div>
            <div class="col-md-3">
                <div class="counter-box">
                    <img src="images/counter-3.png" alt="" class="img-fluid">
                    <p class="counter">124</p>
                    <h6>Ward Rooms</h6>
                </div>
            </div>
            <div class="col-md-3">
                <div class="counter-box">
                    <img src="images/counter-4.png" alt="" class="img-fluid">
                    <p class="counter">337</p>
                    <h6>Cabins</h6>
                </div>
            </div>
        </div>
    </div>
</section>*@
<!-- End Counter Area -->
