@{
    ViewBag.Title = "SPECIALITIES Sri Sai Hospitals";
}
<!-- Breadcrumb Area -->
<!--
<section class="breadcrumb-area text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>SPECIALITIES</h2>
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item"><a href="#">Home</a></li>
                    <li class="list-inline-item"><i class="fa fa-long-arrow-right"></i>Service</li>
                </ul>
            </div>
        </div>
    </div>
</section>
    -->
<!-- End Breadcrumb Area -->
<!-- Service Area -->
<section class="service-three">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="service-top text-center">
                    <h4>Our SPECIALITIES</h4>
                    <img src="~/images/heartbeat.png" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint eius inventore magni quod voluptate, molestiae eos odio illo.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-box text-center">
                    <span><img src="~/images/service-1.png" alt=""></span>
                    <h6>Obstetrics and Gynaecology</h6>
                    <p>Lorem ipsum dolor sit amet, consectet commodi sit veniam adipisicing.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-box text-center">
                    <span><img src="~/images/service-1.png" alt=""></span>
                    <h6>Obstetrics and Gynaecology</h6>
                    <p>Lorem ipsum dolor sit amet, consectet commodi sit veniam adipisicing.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-box text-center">
                    <span><img src="~/images/service-1.png" alt=""></span>
                    <h6>Obstetrics and Gynaecology</h6>
                    <p>Lorem ipsum dolor sit amet, consectet commodi sit veniam adipisicing.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-box text-center">
                    <span><img src="~/images/service-1.png" alt=""></span>
                    <h6>Obstetrics and Gynaecology</h6>
                    <p>Lorem ipsum dolor sit amet, consectet commodi sit veniam adipisicing.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-box text-center">
                    <span><img src="~/images/service-1.png" alt=""></span>
                    <h6>Obstetrics and Gynaecology</h6>
                    <p>Lorem ipsum dolor sit amet, consectet commodi sit veniam adipisicing.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-box text-center">
                    <span><img src="~/images/service-1.png" alt=""></span>
                    <h6>Obstetrics and Gynaecology</h6>
                    <p>Lorem ipsum dolor sit amet, consectet commodi sit veniam adipisicing.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Service Area -->
<!-- Counter Area -->
<section class="counter-area text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="counter-box">
                    <img src="~/images/counter-1.png" alt="" class="img-fluid">
                    <p class="counter">3729</p>
                    <h6>Happy Patients</h6>
                </div>
            </div>
            <div class="col-md-3">
                <div class="counter-box">
                    <img src="~/images/counter-2.png" alt="" class="img-fluid">
                    <p class="counter">139</p>
                    <h6>Specialists</h6>
                </div>
            </div>
            <div class="col-md-3">
                <div class="counter-box">
                    <img src="~/images/counter-3.png" alt="" class="img-fluid">
                    <p class="counter">124</p>
                    <h6>Ward Rooms</h6>
                </div>
            </div>
            <div class="col-md-3">
                <div class="counter-box">
                    <img src="~/images/counter-4.png" alt="" class="img-fluid">
                    <p class="counter">337</p>
                    <h6>Cabins</h6>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Counter Area -->
<!-- Specialist Area -->
<section class="specialist">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="specialist-top text-center">
                    <h4>Meet Our Specialists</h4>
                    <img src="~/images/heartbeat.png" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint eius inventore magni quod voluptate, molestiae eos odio illo.</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="owl-doctor owl-carousel">
                    <div class="carousel-content">
                        <img src="~/images/doc-1.png" alt="" class="img-fluid">
                        <div class="doc-content text-center">
                            <h5>Dr. Arvinda</h5>
                            <p>Cardiologist</p>
                            <ul class="list-unstyled list-inline">
                                <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="carousel-content">
                        <img src="~/images/doc-1.png" alt="" class="img-fluid">
                        <div class="doc-content text-center">
                            <h5>Dr. Arvinda</h5>
                            <p>Cardiologist</p>
                            <ul class="list-unstyled list-inline">
                                <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="carousel-content">
                        <img src="~/images/doc-1.png" alt="" class="img-fluid">
                        <div class="doc-content text-center">
                            <h5>Dr. Arvinda</h5>
                            <p>Cardiologist</p>
                            <ul class="list-unstyled list-inline">
                                <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="carousel-content">
                        <img src="~/images/doc-1.png" alt="" class="img-fluid">
                        <div class="doc-content text-center">
                            <h5>Dr. Arvinda</h5>
                            <p>Cardiologist</p>
                            <ul class="list-unstyled list-inline">
                                <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Specialist Area -->