

@{
    ViewBag.Title = "specialits-details Sri Sai Hospitals";
}
<!-- Breadcrumb Area -->
<!---<section class="breadcrumb-area text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>About Us</h2>
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item"><a href="#">Home</a></li>
                    <li class="list-inline-item"><i class="fa fa-long-arrow-right"></i>About Us</li>
                </ul>
            </div>
        </div>
    </div>
</section>-->
<!-- End Breadcrumb Area -->
<!-- Welcome Area -->
<section id="Anaesthesiology" class="welcome-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="welcome-box">
                    <h4> Anaesthesiology </h4>
                    <img src="~/images/heartbeat.png" alt="">
                    <p>
                        Department of Anaesthesiology at Sri Sai Hospitals has state of the art modular operation theatres. The competent team of Anaesthesiologists can handle surgeries of various types like Laparoscopic Surgeries, General and Gynaecological Surgeries, all types of Orthopaedic Surgeries Including Joint Replacements, Trauma Surgery Including Oral and Maxillo-Facial Surgeries.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-image">
                    <img src="~/images/facilites/_Anaesthesiology .png" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-12 welcome-box pt-4">
                <p>
                    A variety of General surgeries, Urological surgeries, Gasrtoenterological surgeries including procedures like Bronchoscopy, ENT Surgeries, Reconstructive And Plastic Surgery, Brain And Spine Surgeries which are done by an expert team of super specialist doctors with a very high success rate.
                    <br /> Pain clinics are also conducted in the hospital by an expert team of pain medicine specialists.


                </p>
            </div>

        </div>
        <hr />
    </div>
</section>
<section id="General Medicine" class="welcome-area">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="about-image">
                    <img src="~/images/facilites/General Medicine .png" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6">
                <div class="welcome-box">
                    <h4>General Medicine  </h4>
                    <img src="~/images/heartbeat.png" alt="">
                    <p>
                        The department of Medicine at Sri Sai Hospitals has a competent, experienced and devoted team of doctors who serve Sri Sai Hospitals in the capacity of Intensivists as well as specialities like Cardiology, Neurology, Gastroenterology, Pulmonology, Haematology and Nephrology.
                    </p>

                </div>
            </div>


            <div class="col-md-12 welcome-box pt-5">
                <p>
                    We cater to a dedicated team at our Emergency Department who take care of patients coming to our hospital even at odd hours and give basic primary care. A modern and renovated ICU under the guidance of Critical Care Specialists provides the utmost care to the sick patients round the clock.
                    <br />We have a range of diagnostic services including CT scan, 24 hours laboratory. In addition to this, we have a 24 hours pharmacy which caters to our indoor and outdoor patients.

                </p>
            </div>

        </div>
        <hr />
    </div>
</section>
<section id="Neuro" class="welcome-area">
    <div class="container">
        <div class="row">


            <div class="col-md-6">
                <div class="welcome-box">
                    <h4>Neuro Surgery</h4>
                    <img src="~/images/heartbeat.png" alt="">
                    <p>
                        Neuro Surgery is the medical specialty concerned with the prevention, diagnosis, treatment, and rehabilitation of disorders which affect any portion of the nervous system including the Vertebra, Intervertebral discs, spinal cord, peripheral nerves, and para spinal structures.

                        <br />   The Department of Neuro Surgery at Sri Sai Hospitals has a team of highly competent, dedicated, qualified and experienced Neuro surgeons specialising in various types of surgery for comprehensive management of diseases and disorders
                    </p>

                </div>
            </div>
            <div class="col-md-6">
                <div class="about-image">
                    <img src="~/images/srisaihospital.jpg" alt="" class="img-fluid">
                </div>
            </div>

            <div class="col-md-12 welcome-box">
                <p>
                    The Neuro Surgery department aims at excellence in neurosurgical care through practice of evidence based medicine and treatment according to international protocols. Patients are kept fully informed throughout their treatment and they receive complete support and encouragement from our consultants. At Sri Sai Hospital, we are dedicated in providing the best spinal treatment to our patients at an affordable cost.

                </p>
                <h6>
                    Facilities Available:
                </h6>
                <ul class="ml-4">
                    <li>
                        State of the art Spine Surgery operation theatre.
                    </li>

                    <li>C-Arm</li>

                    <li>Advanced cautery system</li>

                    <li>Neuro microscope</li>

                    <li>High-speed drill system</li>

                    <li>	24 X 7 Emergency services</li>

                    <li>Complete in-house imaging services (CT scan , Colour Doppler , X-ray , USG)</li>
                    <li>Physiotherapy & Rehabilitation.</li>

                </ul>
            </div>


        </div>
        <hr />
    </div>
</section>
<section id="Nephrology" class="welcome-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-image">
                    <img src="~/images/facilites/Nephrology.png" alt="" class="img-fluid">
                </div>
            </div>

            <div class="col-md-6">
                <div class="welcome-box">
                    <h4>Nephrology</h4>
                    <img src="~/images/heartbeat.png" alt="">
                    <p>
                        Sri Sai has a well-equipped Nephrology Department that takes care of all kidney problems, both by conservative approach as well as by cutting edge surgery. The specialist consultants are supported by well-trained nursing staff, who is experts in handling patients with kidney diseases.
                        <br />  The Department is complete with advanced Dialysis Unit. The Dialysis unit is very useful adjunct to the Intensive Care Units where critically ill patients, having multiple organ damage, often require immediate Dialysis.
                    </p>

                </div>
            </div>
            <div class="col-md-12 welcome-box">

                <h6>
                    Principal Procedures
                </h6>
                <ul class="ml-4">
                    <li>
                        Cystectomy
                    </li>

                    <li>	Turp(Prostate)</li>

                    <li>Turp(Prostate)</li>

                    <li>Turp(Prostate)</li>

                    <li>
                        Pyelolithotomy
                    <li>
                        PCNL

                    </li>

                </ul>
            </div>

        </div>
        <hr />
    </div>
</section>
<section id="Obstetrics" class="welcome-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="welcome-box">
                    <h4>Obstetrics and Gynaecology </h4>
                    <img src="~/images/heartbeat.png" alt="">
                    <p>
                        Sri Sai Hospitals offers the complete range of facilities for safe Child Birth along with a safe Motherhood. For complicated deliveries Sri Sai Hospitals is superior to other Hospitals as it has:
                    </p>
                    <ul class="ml-4">
                        <li>
                            24 hour OT facilities
                        </li>

                        <li>
                            In house investigations
                        </li>

                        <li>
                            Trained nurses
                        </li>

                        <li>
                            Anaesthetist
                        </li>

                        <li>
                            A fully equipped NICU

                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-image">
                    <img src="~/images/facilites/Obstetrics and Gynaecology.png" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-12 welcome-box pt-4">
                <p>Sri Sai Hospitals also provides curative treatment for all kinds of Gynaecological problems.</p>
                <h6>
                    Principal Procedures
                </h6>
                <ul class="ml-4">
                    <li>
                        Normal Delivery
                    </li>

                    <li>
                        Caesarean Section
                    </li>

                    <li>
                        Abdominal Hysterectomy
                    </li>

                    <li>
                        Vaginal Hysterectomy with PFR
                    </li>

                    <li>
                        Wertheim's Hysterectomy
                    </li>

                    <li>
                        Laparoscopic Hysterectomy
                    </li>

                    <li>
                        Hysterosalpingography (HSG)
                    </li>

                    <li>
                        Diagnostic D/C (Dilatation & Curettage)
                    </li>

                    <li>
                        Dilatation and Evacuation (D/E)


                    </li>

                </ul>
            </div>

        </div>
        <hr />
    </div>
</section>
<section id="Urology" class="welcome-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-image">
                    <img src="~/images/facilites/Urology.jpg" alt="" class="img-fluid">
                </div>
            </div>


            <div class="col-md-6">
                <div class="welcome-box">
                    <h4>Urology </h4>
                    <img src="~/images/heartbeat.png" alt="">
                    <p>
                        It deals with infections and problems of the urinary tract. The Urology department offers comprehensive Urological service (Both Medical & Surgical Intervention) to diagnose and treat stone disease, incontinence, inflammation and various other urinary difficulties
                    </p>
                    <ul class="ml-4">
                        <li>
                            Cystectomy
                        </li>

                        <li>
                            (Prostate)
                        </li>

                        <li>
                            Ureter Transplantation
                        </li>

                        <li>
                            Nephrectomy (Kidney Removal)
                        </li>

                        <li>
                            Pyelolithotomy
                        </li>

                        <li>
                            PCNL

                        </li>

                    </ul>

                </div>
            </div>


        </div>
        <hr />
    </div>
</section>

<section id="Orthopaedics" class="welcome-area">
    <div class="container">
        <div class="row">


            <div class="col-md-6">
                <div class="welcome-box">
                    <h4>Orthopaedics and Joint Replacement  </h4>
                    <img src="~/images/heartbeat.png" alt="">
                    <p>
                        Sri Sai Hospitals undertakes all kinds of surgeries & operations related to both injury as well as other diseases of the musculo skeletal system. Using sophisticated equipments like C- Arm, repair of all kinds of fractures are performed including complicated operations such as Dynamic Hip Screw (DHS), Laminectomy, etc. by our experienced orthopaedic trauma care team. Joint replacements like Hip joint & Knee are regularly done with outstanding success. Modern management methods for injury.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-image">
                    <img src="~/images/facilites/Orthopaedics and Joint Replacement.png" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-12 welcome-box pt-4">

                <h6>
                    Principal Procedures
                </h6>
                <ul class="ml-4">
                    <li>
                        Accident and Trauma Care
                    </li>

                    <li>
                        Hip Replacements
                    </li>

                    <li>
                        Knee Replacements
                    </li>

                    <li>
                        Carpal Tunnel Release (Wrist Pain)
                    </li>

                    <li>
                        Rotator Cuff Repair
                    </li>

                    <li>
                        Shoulder Arthroscopy
                    </li>

                    <li>
                        Joint Aspiration
                    </li>

                    <li>
                        Arthroplasty

                    </li>

                </ul>
            </div>

        </div>

        <hr />
    </div>
</section>

<section id="Dermatology" class="welcome-area">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="about-image">
                    <img src="~/images/facilites/Dermatology .png" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6">
                <div class="welcome-box">
                    <h4>Dermatology  </h4>
                    <img src="~/images/heartbeat.png" alt="">
                    <p>The Department of dermatology deals with all clinical dermatological issues and deals with all sorts of aesthetic procedures (fillers for facial rejuvenation, chemical peels, Glutathione injections , Mesotherapy and PRP for hair loss). We, at Sri Sai Hospitals provide the latest methods of treating many skin problems. The department is fully equipped to manage all sorts of dermto surgical procedures( removal of moles, warts, corns, sebaceous cyst, xanthelesma).  </p>
                </div>
            </div>

        </div>
        <hr />
    </div>
</section>
<section id="Accident" class="welcome-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="welcome-box">
                    <h4>Accident & Trauma  </h4>
                    <img src="~/images/heartbeat.png" alt="">
                    <p>
                        Sri Sai Hospitals Accident & Trauma is a 24/7 service centre and has the infrastructure to handle patients with serious injuries which are life threatening and could result in serious disability or death. Our centre is well equipped to provide multidisciplinary treatment to victims of vehicle accidents, railway accidents, falls and assaults and other leading cause of traumatic injuries with the best possible chance for survival and recovery.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-image">
                    <img src="~/images/srisaihospital.jpg" alt="" class="img-fluid">
                </div>
            </div>

            <div class="col-md-12 welcome-box pt-4">
                <p>
                    The results at SRI SAI HOSPITALS Trauma Centre are excellent as the patients are attended immediately by senior qualified Consultants who are available in the hospital 24*7 and the patient need not wait for the next day to be operated, thus the patient is attended during the GOLDEN hour which is crucial for better outcome.
                    <br />The Trauma team comprises of highly skilled surgical team comprising of Trauma surgeons, Orthopedic Surgeon both adult and pediatric, Neuro and Spine surgeons, Plastic and General Surgeons. The surgical team is backed by experienced Anesthetists, Neurologist, Physicians and Intensivists.
                    <br />Emergency room
                    <br />
                    Once the patient reaches the Emergency Room, the assessment of the patient is done using TRIAGE tools to ensure those who have suffered a major trauma are attended first, under the supervision of consultants, who are assisted by ACLS & ATLS trained nursed.

                </p>

            </div>

        </div>

        <hr />
    </div>
</section>
<section id="ENT" class="welcome-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-image">
                    <img src="~/images/srisaihospital.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6">
                <div class="welcome-box">
                    <h4>ENT </h4>
                    <img src="~/images/heartbeat.png" alt="">
                    <p>
                        “ENT” simply stands for “ear, nose, throat,” and that’s the job description of an ENT specialist: treating those parts of patients’ bodies. ENT doctors are also known as otolaryngologists.
                        <br />
                        An ENT may be an appropriate physician to talk to for concerns regarding disorders of the ears, nose, throat, head, and neck, including growths, infection, and more. In particular, chronic sinusitis sufferers benefit considerably from consulting with an ENT specialist.
                    </p>
                </div>
            </div>


            <div class="col-md-12 welcome-box">
                <p>
                    ENT specialists at Sri Sai Hospitals have the in-depth knowledge and experience required to treat advanced chronic sinusitis cases. This makes an ENT the appropriate person to discuss chronic sinus issues with. So if you have chronic sinusitis, you may be referred to an ENT specialist for treatment. ENT doctors can treat and also perform surgery on the structures involved, if necessary.
                </p>
                <h6>Among the conditions that ENT doctors can address are:</h6>
                <ul class="ml-4">
                    <li>
                        Sinusitis

                    <li>
                        Nose infections and injuries
                    </li>

                    <li>
                        Ear infections
                    </li>

                    <li>
                        Various sleep disorders, including sleep apnea
                    </li>

                    <li>
                        Vertigo
                    </li>

                    <li>
                        Head and neck pain
                    </li>

                    <li>
                        Speech and swallowing disorders
                    </li>

                    <li>
                        Tonsillitis

                    </li>

                </ul>
                <h6 class="pt-3">ENT doctors can specifically perform these types of procedures:</h6>
                <ul class="ml-4">
                    <li>
                        Sinus surgery
                    </li>

                    <li>
                        Snoring/sleep disorder surgery
                    </li>

                    <li>
                        Corrective breathing surgery
                    </li>

                    <li>
                        Tonsil removal

                    </li>

                </ul>

            </div>


        </div>
        <hr />
    </div>
</section>
<section id="Physiotherapy" class="welcome-area">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="welcome-box">
                    <h4>Physiotherapy </h4>
                    <img src="~/images/heartbeat.png" alt="">
                    <p>Physiotherapy is treatment to restore, maintain, and make the most of a patient's mobility, function, and well-being. Physiotherapy helps through physical rehabilitation, injury prevention, and health and fitness. Physiotherapists get you involved in your own recovery. </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-image">
                    <img src="~/images/srisaihospital.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-12 welcome-box pt-4">

                <h6>As professionals, physiotherapists are experts at providing physiotherapy treatment for:</h6>
                <ul class="ml-4">
                    <li>
                        Preventing injury and disability
                    </li>

                    <li>
                        Managing acute and chronic conditions
                    </li>

                    <li>
                        Improving and maintaining optimal physical performance
                    </li>

                    <li>
                        Rehabilitating injury and the effects of disease or disability
                    </li>

                    <li>
                        Educating patients to prevent re-occurrence of an injury.

                    </li>

                </ul>
                <h6 class="pt-3">Physiotherapists offer treatments relating to the following conditions:</h6>
                <ul class="ml-4">
                    <li>
                        Musculoskeletal: preventing and treating clients with musculoskeletal conditions such as neck and back pain.
                    </li>
                    <li>
                        Neurological: promoting movement and quality of life in patients who have had severe brain or spinal cord damage from trauma, or who suffer from neurological diseases such as stroke, Parkinson’s disease and multiple sclerosis.
                    </li>
                    <li>
                        Orthopaedic: helping patients prevent or manage acute or chronic orthopedic conditions such as arthritis and amputations.
                    </li>
                    <li>
                        Pain: managing or preventing pain and its impact on function in patients.


                    </li>

                </ul>

            </div>
        </div>

        <hr />
    </div>
</section>
<section id="Dentistry" class="welcome-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-image">
                    <img src="~/images/srisaihospital.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6">
                <div class="welcome-box">
                    <h4>Dentistry </h4>
                    <img src="~/images/heartbeat.png" alt="">
                    <p>
                        It is also known as dental medicine, is a branch of medicine that consists of the study, diagnosis, prevention, and treatment of diseases, disorders, and conditions of the oral cavity, commonly in the dentition but also the oral mucosa, and of adjacent and related structures and tissues, particularly in the maxillofacial (jaw and facial) area.
                    </p>
                </div>
            </div>


            <div class="col-md-12 welcome-box pt-5">
                <p>
                    Although primarily associated with teeth among the general public, the field of dentistry or dental medicine is not limited to teeth but includes other aspects of the craniofacial complex including the temporomandibular joint and other supporting, muscular, lymphatic, nervous, vascular, and anatomical structures.

                    <br />  At Sri Sai Hospitals we have modern dental set-up and treat all conditions related to complex maxillofacial surgeries, Orthodontics, Periodontics, Paedodontics, Cosmetic Dentistry and Implantology.
                </p>

            </div>

        </div>

        <hr />
    </div>
</section>
<section id="Endoscopy" class="welcome-area">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="welcome-box">
                    <h4>Endoscopy </h4>
                    <img src="~/images/heartbeat.png" alt="">
                    <p>
                        An endoscopy is a procedure in which your doctor uses specialized instruments to view and operate on the internal organs and vessels of your body. It allows surgeons to see problems within your body without making large incisions.
                        <br /> A Gastric doctor inserts an endoscope through the mouth. An endoscope is a flexible tube with an attached camera that allows your doctor to see. Your doctor can use forceps and scissors on the endoscope to operate or remove tissue for biopsy.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-image">
                    <img src="~/images/facilites/Endoscopy.png" alt="" class="img-fluid">
                </div>
            </div>


            <!--<div class="col-md-12 welcome-box pt-5">
            <p>
                Although primarily associated with teeth among the general public, the field of dentistry or dental medicine is not limited to teeth but includes other aspects of the craniofacial complex including the temporomandibular joint and other supporting, muscular, lymphatic, nervous, vascular, and anatomical structures.

                <br />  At Sri Sai Hospitals we have modern dental set-up and treat all conditions related to complex maxillofacial surgeries, Orthodontics, Periodontics, Paedodontics, Cosmetic Dentistry and Implantology.
            </p>

        </div>-->


        </div>
        <hr />
    </div>
</section>
<section id="prepare-endoscopy" class="welcome-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-image">
                    <img src="~/images/srisaihospital.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6">
                <div class="welcome-box">
                    <h4>How do I prepare for an endoscopy? </h4>
                    <img src="~/images/heartbeat.png" alt="">
                    <p>
                        At Sri Sai Hospitals, our doctor will give you complete instructions on how to prepare. Most types of endoscopy require you to stop eating solid foods for up to 12 hours before the procedure. Some types of clear liquids, such as water or juice, might be allowed for up to two hours before the procedure. You will be given laxatives or enemas to use the night before the procedure to clear your system. This is common in procedures involving the gastrointestinal (GI) tract and the anus.
                    </p>
                </div>
            </div>
            <div class="col-md-12 welcome-box pt-3">

                <h6>Endoscopy is typically used to:</h6>
                <ul class="ml-4">
                    <li>
                        Help your doctor determine the cause of any abnormal symptoms you’re having
                    </li>

                    <li>
                        Remove a small sample of tissue, which can then be sent to a lab for further testing; this is called an endoscopic biopsy
                    </li>

                    <li>
                        Help your doctor see inside the body during a surgical procedure, such as repairing a stomach ulcer, or removing gallstones or tumours


                    </li>

                </ul>
                <h6 class="pt-3">Endoscopy is done under the following conditions:</h6>
                <ul class="ml-4">
                    <li>
                        Inflammatory Bowel Diseases (IBD), Such As Ulcerative Colitis (UC) And Crohn’s Disease
                    </li>

                    <li>
                        Stomach Ulcer
                    </li>

                    <li>
                        Chronic Constipation
                    </li>

                    <li>
                        Pancreatitis
                    </li>

                    <li>
                        Gallstones
                    </li>

                    <li>
                        Unexplained Bleeding In The Digestive Tract
                    </li>

                    <li>
                        Tumours
                    </li>

                    <li>
                        Blockage Of The Oesophagus
                    </li>

                    <li>
                        Gastroesophageal Reflux Disease (GERD)
                    </li>

                    <li>
                        Hiatal Hernia
                    </li>

                    <li>
                        Other Digestive Tract Issue

                    </li>

                </ul>

            </div>


        </div>
        <hr />
    </div>
</section>
<section id="Gastroenterology" class="welcome-area">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="welcome-box">
                    <h4>Gastroenterology and Hepatology </h4>
                    <img src="~/images/heartbeat.png" alt="">
                    <p>
                        The department of gastroenterology and hepatology provides comprehensive care for gastro-intenstinal, pancreatic, liver and biliary disorders with the help of highly qualified, experienced gastroenterologists. Our services include Endoscopy, Acute Pancreatitis,GI Surgery,Inflammatory Bowel Diseases, Acute Colitis, GI Stenting, Gallstone Removal.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-image">
                    <img src="~/images/srisaihospital.jpg" alt="" class="img-fluid">
                </div>
            </div>

        </div>
        <hr />
    </div>
</section>